footer.footer
    .container
        .row
            .col-12
                .footer__body
                    .footer__left
                        .copy-info
                            |Перепечатка материалов без согласования допустима при наличии dofollow-ссылки на страницу-источник
                        .copyright
                            |© 2020  Aboutbetting. Все права защищены
                        .footer-links
                            a(href="#")
                                |Поддержка
                            a(href="#")
                                |Конфиденциальность
                        .social-links
                            a(href="#")
                                +icon('vk')
                            a(href="#")
                                +icon('instagram')
                            a(href="#")
                                +icon('facebook')
                    .footer__right
                        .footer-menu
                            .footer-menu__title
                                |Рейтинги
                            ul.menu-list
                                li
                                    a(href="#")
                                        |БК с высокими коэффициентами
                                li
                                    a(href="#")
                                        |Рейтинг легальных БК России
                                li
                                    a(href="#")
                                        |Букмекеры с бонусами
                                li
                                    a(href="#")
                                        |Букмекерские конторы для вилок
                                li
                                    a(href="#")
                                        |Зеркала букмекерских контор
                        .footer-menu
                            .footer-menu__title
                                |Ставки
                            ul.menu-list
                                li
                                    a(href="#")
                                        |На спорт
                                li
                                    a(href="#")
                                        |На хоккей
                                li
                                    a(href="#")
                                        |На теннис
                                li
                                    a(href="#")
                                        |На баскетбол
                                li
                                    a(href="#")
                                        |На киберспорт
                        .footer-menu
                            .footer-menu__title
                                |Букмекеры
                            ul.menu-list
                                li
                                    a(href="#")
                                        |1хБет
                                li
                                    a(href="#")
                                        |Мелбет
                                li
                                    a(href="#")
                                        |Лига ставок
                                li
                                    a(href="#")
                                        |Пари матч
                                li
                                    a(href="#")
                                        |Фаворит
