.header
    .container
        .col-12
            .header__body
                .header__logo
                    a(href="index.html")
                        img(src="assets/images/logo.svg" alt="")
                .header__menu
                    ul.main-menu.main-menu--header
                        li.is-current
                            a(href="#")
                                |Рейтинги
                            span.mobile-open-sub
                            ul
                                li
                                    a(href="#ff")
                                        |БК с высокими коэффициентами
                                li
                                    a(href="#ff1")
                                        |Рейтинг легальных БК России
                                li
                                    a(href="#")
                                        |Букмекерские конторы для лайв ставок
                                li
                                    a(href="#")
                                        |Букмекерские конторы для вилок
                                li
                                    a(href="#")
                                        |Актуальные ссылки букмекерских контор
                                li
                                    a(href="#")
                                        |Рейтинг оффшорных букмекерских контор
                                li
                                    a(href="#")
                                        |БК с мобильной версией сайта
                                li
                                    a(href="#")
                                        |Рейтинг букмекеров
                                li
                                    a(href="#")
                                        |Букмекеры с мобильными приложениями
                                li
                                    a(href="#")
                                        |Букмекеры с бонусами
                        li
                            a(href="#")
                                |Ставки
                            span.mobile-open-sub
                            ul
                                li
                                    a(href="#ff")
                                        |БК с высокими коэффициентами
                                li
                                    a(href="#ff1")
                                        |Рейтинг легальных БК России
                                li
                                    a(href="#")
                                        |Букмекерские конторы для лайв ставок
                                li
                                    a(href="#")
                                        |Букмекерские конторы для вилок
                        li
                            a(href="#")
                                |Прогнозы
                            span.mobile-open-sub
                            ul
                                li
                                    a(href="#ff")
                                        |БК с высокими коэффициентами
                                li
                                    a(href="#ff1")
                                        |Рейтинг легальных БК России
                                li
                                    a(href="#")
                                        |Букмекерские конторы для лайв ставок
                                li
                                    a(href="#")
                                        |Букмекерские конторы для вилок
                        li
                            a(href="#")
                                |Бонусы
                        li
                            a(href="#")
                                |Школа
                            span.mobile-open-sub
                            ul
                                li
                                    a(href="#ff")
                                        |Термины
                                li
                                    a(href="#ff1")
                                        |Расшифровка ставок
                                li
                                    a(href="#")
                                        |Обзоры сервисов
                                li
                                    a(href="#")
                                        |Обзоры программ
                                li
                                    a(href="#")
                                        |База знаний по букмекерам
                                li
                                    a(href="#")
                                        |БК по городам / пунктам
                                li
                                    a(href="#")
                                        |Стратегии
                                li
                                    a(href="#")
                                        |Статьи
                        li
                            a(href="#")
                                |Новости
                    .search#search
                        .search__input
                            input(id="search-input" type="text" placeholder="Поиск по сайту")
                            button.search__close
                                |Найти
                        .search__button#search-button
                    .hamburger#hamburger
                        .hamburger-box
                            .hamburger-inner