.main-panel
    margin-bottom: 40px
    &--no-margin
        margin-bottom: 0
    &__header
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 20px
        &-title
            display: flex
            align-items: center
            h2, h3, h4
                margin: 0
                font-size: rem(20px)
                font-weight: 500
                color: $color-s0teelGray
            span
                margin-left: 30px
                padding-top: 2px
                a
                    font-size: rem(13px)
                    color: $color-waterloo
                    &:hover
                        color: $color-gunPowder
                &.main-panel-cats
                    display: flex
                    a
                        margin-right: 20px
                        font-weight: 500
                        text-transform: uppercase
                        &.is-active
                            color: $color-gunPowder
                        &:last-child
                            margin-right: 0
        &-button
            display: flex
            align-content: center
            user-select: none
    &__content
        width: 100%
        padding: 30px
        background: $color-white
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04)
        border-radius: 3px
        &--no-padding
            padding: 20px
        &--news
            padding-bottom: 0
    &__grid
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        .last-forecast
            width: calc(50% - 15px)

.white-panel
    width: 100%
    padding: 30px
    background: $color-white
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04)
    border-radius: 3px
    &--news
        padding-bottom: 0
    &--detailed
        padding: 0

.bookmaker-table
    &__item
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        align-items: center
        margin-bottom: 25px
        &:last-child
            margin-bottom: 0
        &-col
            padding-right: 8px
            &:nth-child(1)
                width: 15%
                img
                    max-width: 85px
            &:nth-child(2)
                width: 26%
            &:nth-child(3)
                width: 19%
            &:nth-child(4)
                width: calc(40% - 185px)
            &:nth-child(5)
                padding-right: 0
                width: 185px
        span.bookmaker-buttons
            .btn
                &:last-child
                    margin-left: 15px
        span.bookmaker-name
            font-size: rem(14px)
            font-weight: 500
            color: $color-gunPowder
        &-full
            width: 100%
            margin-top: 18px
            padding-left: 15%
            font-size: rem(14px)
            color: $color-waterloo
            line-height: rem(20px)
    &--black
        .bookmaker-buttons
            .btn--blue-border
                color: $color-gunPowder
                border-color: $color-gunPowder
            .btn--blue
                background: $color-gunPowder

span.bookmaker-gift
    font-size: rem(15px)
    font-weight: 500
    color: $color-gunPowder
    &:before
        content: ''
        position: relative
        top: 2px
        margin-right: 7px
        +sprite('gift')

.forecast-table
    &__item
        display: flex
        justify-content: space-between
        align-items: center
        padding: 10px
        background: $color-white
        transition: background 0.1s ease-in-out
        &:hover
            background: #fffbea
        &-col
            padding-right: 8px
            &:nth-child(1)
                width: 15%
            &:nth-child(2)
                width: calc(85% - 230px)
            &:nth-child(3)
                padding-right: 0
                width: 230px
            .forecast-table-time
                font-size: rem(13px)
                color: $color-waterloo
                strong
                    display: block
                    color: $color-gunPowder
                    font-size: rem(16px)
                    font-weight: normal
            .forecast-table-teams
                display: flex
                align-items: center
                &__logos
                    display: flex
                    align-items: center
                    img
                        max-width: 26px
                        margin: 0 5px
                &__names
                    margin-left: 20px
                    font-size: rem(14px)
                    color: $color-gunPowder
                    font-weight: 500
                    span
                        display: block
                        &:last-child
                            margin-top: 8px
            .forecast-table-cat
                font-size: rem(13px)
                color: $color-gunPowder
            .forecast-table-button
                display: flex
                &__item
                    display: flex
                    height: 30px
                    margin-right: 10px
                    padding: 0 10px
                    border: 1px solid $color-mischka
                    border-radius: 3px
                    &-left
                        margin-right: 15px
                    &:last-child
                        margin-right: 0
                    span
                        display: flex
                        align-items: center
                        font-size: rem(13px)
                        color: $color-gunPowder
                        font-weight: 500
                        &:first-child
                            color: $color-waterloo

.bookmaker-bonus
    display: flex
    justify-content: space-between
    &__item
        width: 31%
        &-img
            min-height: 60px
            img
                max-height: 40px
                margin: 0 auto
        &-sum
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: 45px
            border: 3px solid $color-secondary
            border-radius: 40px
            color: $color-gunPowder
            font-weight: 500
            &:before
                content: ''
                position: relative
                top: -1px
                margin-right: 7px
                +sprite('gift')
        &-text
            margin: 10px 0 25px
            font-size: rem(13px)
            color: $color-gunPowder
            text-align: center
        &-buttons
            display: flex
            justify-content: space-between
            a
                &:first-child
                    margin-right: 10px

.bookmaker-bonus-nav
    display: flex
    align-content: center
    flex-flow: row wrap
    height: inherit
    margin-right: 20px
    &__prev, &__next
        padding: 5px
        line-height: 0
        cursor: pointer
        outline: none
        &.swiper-button-disabled
            opacity: 0.5
    &__prev
        margin-right: 2px
        svg
            transform: rotate(-180deg)

.news
    $this: &;
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    &__item
        width: calc(50% - 15px)
        margin-bottom: 30px
        &-img
            width: 100%
            height: 230px
            img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center center
        &-content
            padding: 15px 15px 18px 15px
        &-cat
            margin: 0 0 10px
            a
                font-size: rem(14px)
                color: $color-gunPowder
        &-title
            font-size: rem(18px)
            line-height: rem(22px)
            color: $color-gunPowder
            font-weight: 500
            &:hover
                color: $color-primary
        &-det
            display: flex
            align-items: center
            margin-top: 20px
            span
                display: flex
                align-items: center
                font-size: rem(13px)
                color: $color-waterloo
                &.comments
                    margin-right: 30px
                    &:before
                        content: ''
                        margin-right: 7px
                        +sprite('comments-small')
                &.date
                    &:before
                        content: ''
                        margin-right: 8px
                        +sprite('date-small')
        &:first-child
            position: relative
            #{$this}__item-img
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                &:after
                    content: ''
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%)
            #{$this}__item-content
                padding-top: 245px
                position: relative
                z-index: 10
            #{$this}__item-cat
                a
                    color: $color-white
            #{$this}__item-title
                color: $color-white
            #{$this}__item-det
                span
                    color: $color-white
                    &.comments
                        &:before
                            +sprite('comments-white')
                    &.date
                        &:before
                            +sprite('date-white')

.header-text
    padding: 0 0 35px
    h1, h2
        font-size: rem(22px)
        color: $color-s0teelGray
        font-weight: 500
        margin: 0 0 20px
    &__content
        p
            font-size: rem(14px)
            color: $color-gunPowder
            line-height: rem(20px)
            margin: 0 0 17px
            &:last-child
                margin-bottom: 0
    &--no-margin
        h1, h2
            margin-bottom: 0

.bottom-text
    font-size: rem(14px)
    color: $color-gunPowder
    line-height: rem(20px)
    &--margin
        margin-bottom: 40px
    p
        margin: 0 0 17px
        &:last-child
            margin-bottom: 0
    ul
        margin: 20px 0
        li
            position: relative
            padding-left: 25px
            margin-bottom: 15px
            &:before
                content: ''
                position: absolute
                top: 5px
                left: 0
                width: 10px
                height: 10px
                border-radius: 50%
                background: $color-primary
    h2
        font-size: rem(20px)
        color: $color-s0teelGray
    h3, h4
        font-size: rem(18px)
        color: $color-s0teelGray
    

.video-embed
    margin: 20px 0
    iframe
        display: block
        margin: 0 auto

.forecasts-list
    display: flex
    flex-flow: row wrap
    justify-content: space-between

.last-forecast
    $this: &;
    width: 100%
    padding: 30px
    background: $color-white
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04)
    border-radius: 3px
    &--full
        width: calc(50% - 15px)
        margin-bottom: 30px
        #{$this}__info
            display: flex
            justify-content: space-between
            width: 100%
        #{$this}__info-cat
            order: 2
            width: 50%
            text-align: right
            a.cat
                display: block
        #{$this}__info-time
            order: 1
            width: 50%
            margin-top: 0px
            text-align: left
        #{$this}__teams
            width: 100%
            margin-top: 25px
        #{$this}__teams-item
            img
                max-width: 80px
                max-height: 80px
                margin: 0 auto
        #{$this}__teams-vs
            top: 30px
        #{$this}__teams-item-img
            height: 80px
    &__top, &__teams
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        align-items: flex-end
    &__teams
        width: 60%
        align-items: flex-start
        &-item
            width: calc(50% - 20px)
            text-align: center
            img
                max-width: 60px
                max-height: 60px
                margin: 0 auto
            strong
                display: block
                margin-top: 10px
                font-size: rem(15px)
                font-weight: 500
                color: $color-gunPowder
        &-item-img
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: center
            height: 60px
        &-vs
            width: 50px
            position: relative
            top: 20px
            display: flex
            justify-content: center
            align-items: center
            width: 25px
            height: 25px
            border-radius: 50%
            border: 1px solid $color-mischka
            font-size: 10px
            color: $color-waterloo
            &:before
                content: 'VS'
    &__info
        width: 30%
        text-align: right
        &-cat
            a.cat
                font-size: rem(14px)
                color: $color-primary
                font-weight: 500
            a.subcat
                display: inline-block
                margin-top: 3px
                font-size: rem(13px)
                color: $color-primary
        &-time
            margin-top: 20px
            strong
                font-size: 16px
                font-weight: 500
                color: $color-gunPowder
            span
                display: block
                margin-top: 3px
                font-size: 13px
                color: $color-waterloo
    &__bet
        display: flex
        margin-top: 30px
        &-num
            width: 55px
            font-size: rem(16px)
            color: $color-primary
            font-weight: 500
        &-text
            width: calc(100% - 55px)
            strong
                font-size: rem(14px)
                font-weight: 500
                color: $color-primary
            span
                display: block
                margin-top: 10px
                color: $color-gunPowder
                font-size: rem(14px)
                line-height: rem(18px)
    &__buttons
        margin-top: 30px
        display: flex
        justify-content: center
        a.btn
            &:first-child
                margin-right: 15px

.bonus-banner
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 92px
    padding: 20px 30px 20px 130px
    margin-bottom: 40px
    background: $color-white
    border: 2px solid $color-secondary
    border-radius: 5px
    overflow: hidden
    &__img
        max-width: 130px
    &__num
        position: absolute
        left: -5px
        top: 0
        display: flex
        justify-content: center
        align-items: center
        width: 100px
        height: 100%
        padding-right: 15px
        background: url('../images/icons/banner-bg.svg') no-repeat center right
        background-size: auto 100%
        font-size: rem(24px)
        font-weight: 500
        color: $color-gunPowder
    &__buttons
        a
            &:last-child
                margin-left: 15px
    &__gift
        display: flex
        justify-content: center
        align-items: center
        width: 150px
        height: 45px
        border: 3px solid $color-secondary
        border-radius: 40px
        font-size: rem(15px)
        color: $color-gunPowder
        font-weight: 500
        &:before
            content: ''
            position: relative
            top: -1px
            margin-right: 7px
            +sprite('gift')

.load-more
    display: flex
    justify-content: center
    margin-bottom: 40px

.pagination
    margin-top: 30px
    ul
        display: flex
        justify-content: center
        li
            margin: 0 4px
            a, span
                display: flex
                justify-content: center
                align-items: center
                width: 38px
                height: 35px
                background: $color-secondary
                border-radius: 3px
                color: $color-gunPowder
                font-size: rem(13px)
                font-weight: 500
            a
                transition: background 0.2s ease-in-out
                &:hover
                    background: $color-secondary-light
            span
                background: #D2D7E2

.text-content
    font-size: rem(14px)
    color: $color-gunPowder
    line-height: rem(21px)
    p
        margin: 0 0 17px
        &:last-child
            margin-bottom: 0
    strong
        font-weight: 500
    ul
        margin: 20px 0
        li
            position: relative
            padding-left: 25px
            margin-bottom: 15px
            &:before
                content: ''
                position: absolute
                top: 5px
                left: 0
                width: 10px
                height: 10px
                border-radius: 50%
                background: $color-primary
    h2
        font-size: rem(20px)
        color: $color-gunPowder
    h3, h4
        font-size: rem(18px)
        color: $color-gunPowder
    h5
        font-size: rem(16px)
        color: $color-gunPowder
    img
        margin: 20px auto
    .subtitle
        margin-top: 0px

.center-button
    display: flex
    justify-content: center
    margin: 30px 0

.football-field
    position: relative
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-around
    width: 100%
    height: 320px
    overflow: hidden
    &:after
        content: ''
        position: absolute
        top: 0
        left: 50%
        margin-left: -90px
        +sprite('field-center')
        height: 100%
        z-index: 20
    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 10
        img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center center
    &__gate-first, &__gate-second
        position: absolute
        width: 45px
        height: 180px
        border: 6px solid #8ACB53
        z-index: 20
    &__gate
        &-first
            top: 50%
            left: -7px
            margin-top: -90px
        &-second
            top: 50%
            right: -7px
            margin-top: -90px
    &__team
        position: relative
        z-index: 40
        text-align: center
        &--first
            padding-left: 40px
        &--second
            padding-right: 40px
        &-logo
            display: flex
            justify-content: center
            align-items: center
            width: 120px
            height: 120px
            border-radius: 50%
            background: $color-white
            img
                max-width: 75px
                max-height: 75px
        &-title
            margin-top: 18px
            font-size: rem(18px)
            color: $color-white
            font-weight: 500
    &__time
        position: relative
        text-align: center
        z-index: 50
        strong
            font-size: rem(26px)
            color: $color-white
            font-weight: 500
        span
            margin-bottom: 5px
            display: block
            font-size: rem(13px)
            color: $color-white
    &__top
        position: absolute
        top: 0
        left: 0
        display: flex
        justify-content: space-between
        width: 100%
        padding: 20px 30px 0 30px
        z-index: 50
        &-left
            a
                color: $color-white
                font-size: rem(14px)
        &-right
            color: $color-white
            text-align: right
            strong
                display: block
                font-size: rem(16px)
            span
                font-size: rem(14px)

.bookmaker-stat
    position: relative
    width: 100%
    height: 360px
    background-size: cover
    background-position: center center
    &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: #000000
        opacity: 0.5
    &__top
        position: absolute
        top: 0
        left: 0
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        align-items: flex-start
        width: 100%
        padding: 30px
    &__logo
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-items: center
        width: 175px
        padding: 15px 10px
        background: $color-white
        border-radius: 3px
    &__rating-list
        strong
            display: block
            font-size: rem(15px)
            font-weight: 500
            color: $color-white
            margin-bottom: 20px
    &__bottom
        position: absolute
        bottom: 0
        left: 0
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        align-items: flex-end
        width: 100%
        padding: 25px 30px

.det-rating-list
    opacity: 0.8
    &__item
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        width: 260px
        margin-bottom: 10px
    &__title
        font-size: 13px
        color: $color-white

.general-rating
    strong
        font-size: 13px
        font-weight: normal
        color: $color-white

.bookmaker-det-section
    &--last
        .bookmaker-det-section__content
            padding-bottom: 0
            &:after
                display: none
    &__title
        h2, h3
           font-size: rem(20px)
           margin: 0 0 20px 
           color: $color-gunPowder
        .copy-anchor
            display: inline-block
            cursor: pointer
            &:before
                position: relative
                top: 2px
                content: ''
                +sprite('anchor')
                margin-left: 8px
    &__content
        position: relative
        padding-bottom: 65px
        &:after
            content: ''
            position: absolute
            bottom: 30px
            left: 50%
            margin-left: -220px
            width: 440px
            height: 6px
            background: #EAECF2

.bookmaker-menu
    position: relative
    z-index: 30
    background: $color-primary
    ul
        width: 100%
        display: flex
        flex-flow: row nowrap
        li
            text-align: center
            a
                position: relative
                display: flex
                align-items: center
                justify-content: center
                width: 100%
                padding: 0 15px
                height: 55px
                color: $color-white
                font-size: rem(14px)
                font-weight: 500
                &:hover
                    opacity: 0.8
            &.is-active
                a
                    background: #778CD7
                    &:after
                        content: ''
                        position: absolute
                        bottom: -4px
                        left: 50%
                        margin-left: -8px
                        width: 15px
                        height: 15px
                        transform: rotate(-45deg)
                        background: #778CD7

.bookmaker-menu-button
    position: absolute
    top: 13px
    right: 14px
    display: none
    flex-flow: row wrap
    justify-content: center
    align-items: center
    width: 30px
    height: 30px
    background: $color-white
    border-radius: 50%
    z-index: 90
    cursor: pointer
    transition: all 0.3s ease-in-out
    &:before
        content: ''
        position: relative
        +sprite('mobile-blue-arrow')
        transition: all 0.3s ease-in-out

.bookmaker-sub-menu
    position: relative
    z-index: 20
    background: $color-white
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06)
    padding: 12px 0
    ul
        display: flex
        flex-flow: row wrap
        li
            a
                display: flex
                margin: 5px 0
                padding: 0 12px
                color: $color-primary
                font-weight: 500
                font-size: rem(14px)
                &:hover
                    color: $color-s0teelGray

.bonus-det-banner
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    width: 100%
    min-height: 165px
    border-radius: 5px
    padding: 20px 25px
    overflow: hidden
    background: url('../images/content/bonus-banner.png') no-repeat
    background-size: cover
    &__left
        width: 30%
        h3, h4, h5
            margin: 0 0 15px
            font-size: rem(16px)
            font-weight: 500
            color: $color-white
    &__right
        width: 53%
        color: $color-white
        font-size: 14px
        line-height: 18px

.images-list
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-between
    &after
        content: ''
        flex: auto
    img
        width: 14%
        margin: 10px 2%

.currency-item
    position: relative
    padding-left: 60px
    &__value
        position: absolute
        top: 0
        left: 0
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-items: center
        width: 45px
        height: 45px
        border: 1px solid $color-primary
        border-radius: 50%
        font-size: 14px
        color: $color-primary
        font-weight: 500
    &__text
        color: $color-gunPowder
        strong
            display: block
            padding: 10px 0
            font-size: 14px
            font-weight: 500
        span
            font-size: 13px
            line-height: 18px

.contacts-text
    margin-top: 30px
    &__phone, &__email
        position: relative
        margin: 15px 0
        padding-left: 32px
        font-size: 14px
        color: $color-gunPowder
        strong
            font-weight: 500
    &__phone
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            +sprite('phone')
    &__email
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            +sprite('email')

.license-text
    display: flex
    flex-flow: row wrap
    align-items: center
    margin-top: 30px
    img
        max-width: 55px
    span
        margin-left: 20px
        font-size: 14px

