.footer
    margin-top: 45px
    padding: 45px 0
    background: $color-white
    &__body
        display: flex
    &__left
        width: 40%
    &__right
        display: flex
        justify-content: space-between
        width: 60%

.footer-menu
    &:last-child
        min-width: 175px
    &__title
        font-size: rem(17px)
        color: $color-gunPowder
        font-weight: 500
        margin-bottom: 20px

.menu-list
    li
        margin: 12px 0
        a
            font-size: rem(14px)
            font-weight: 500
            color: $color-primary
            &:hover
                color: $color-gunPowder

.copy-info
    position: relative
    max-width: 400px
    padding-left: 60px
    font-size: rem(14px)
    line-height: rem(19px)
    color: $color-gunPowder
    &:before
        content: '18+'
        position: absolute
        top: 0
        left: 0
        display: flex
        justify-content: center
        align-items: center
        width: 38px
        height: 38px
        border-radius: 50%
        border: 1px solid #626277
        font-weight: 500

.copyright
    margin: 30px 0 10px
    padding-left: 60px
    font-size: rem(14px)
    font-weight: 500
    color: $color-gunPowder

.footer-links
    padding-left: 60px
    a
        margin-right: 20px
        font-size: rem(14px)
        color: $color-primary
        &:hover
            color: $color-gunPowder

.social-links
    display: flex
    flex-flow: row wrap
    align-items: center
    margin-top: 30px
    padding-left: 60px
    a
        margin-right: 17px
        svg
            fill: $color-primary
            transition: all 0.2s ease-in-out
        &:hover
            svg
                fill: $color-gunPowder