.container
  width: $container-width
  max-width: $container-max-width
  min-width: $container-min-width
  margin: 0 auto
  &--full
    position: relative
    display: flex
    align-items: center
    height: 100vh
    padding: 100px 0 150px
    box-sizing: border-box
  &--relative
    position: relative
    min-height: 100vh
.container-fluid
  width: $container-fluid-width
  min-width: $container-fluid-min-width
  max-width: $container-fluid-max-width
  margin: 0 auto
  box-sizing: border-box
.container-full-width
  margin: 0 auto
  box-sizing: border-box
  width: 100%
  float: none
  clear: both
%clearfix:after
  display: block
  clear: both
  content: ''
.row 
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: flex-start
  width: 100%
[class^="col-"]
  padding: 0 $gutter
  box-sizing: border-box
.hidden
  display: none
.flex
  display: flex
.flex-vertical-center
  align-items: center
.flex-horizontal-end
  justify-content: flex-end
.flex-horizontal-center
  justify-content: center
.align-right
  display: flex
  justify-content: flex-end
.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right
@for $i from 1 through $grid-size
  .col-#{$i}
    width:  ( $i /$grid-size ) *100% 
@each $slug, $size in $breakpoints
  @media (min-width: #{$size})
    .hidden-#{$slug}
      display: none
    @for $i from 1 through $grid-size
      .col-#{$slug}-#{$i}
        width:  ( $i /$grid-size ) *100%