.header
    background: $color-white
    &__body
        display: flex
        align-content: center
        justify-content: space-between
        height: 80px
    &__logo, &__menu
        display: flex
        align-items: center
    &__menu
        position: relative