@media only screen and (max-width: 1230px)
    .main-panel
        &__content
            padding: 20px
            &--no-padding
                padding: 10px
            &--news
                padding-bottom: 0px
    .footer-menu:last-child
        min-width: 130px
    .footer__left
        padding-right: 20px
    .sidebar-item
        display: none
        &--cats
            display: block
    .main-menu > li
        margin-left: 35px
    .search
        margin-left: 50px

@media only screen and (max-width: 1023px)
    .wrapper
        padding-top: 65px
    .container
        padding: 0 5px
    .header
        position: fixed
        top: 0
        left: 0
        width: 100%
        z-index: 999
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
        &__body
            position: relative
            height: 65px
        &__menu
            position: static
    .main-menu--header
        position: fixed
        top: 40px
        left: 0px
        width: 100%
        padding: 10px 0
        height: calc(100vh - 65px)
        background: $color-white
        display: block
        overflow-y: auto
        visibility: hidden
        opacity: 0
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, top 0.3s ease-in-out
        &.is-active
            top: 65px
            opacity: 1
            visibility: visible
        li
            position: relative
            display: block
            width: 100%
            max-width: 460px
            margin: 0 auto !important
            height: auto
            padding: 12px 20px
            a
                display: block
                border: 0px
                font-size: rem(20px)
            .mobile-open-sub
                display: flex
            & > ul
                position: static
                max-width: 100%
                box-shadow: none
                max-height: 0
                padding-left: 10px
                overflow: hidden
                transition: all 0.3s ease-in-out
                & > li
                    padding: 6px 0
                    border: 0
                    a
                        padding: 2px
                        font-weight: 400
            &.is-open
                & > ul
                    padding: 15px 0 10px 10px
                    visibility: visible
                    opacity: 1
                    max-height: 800px
                .mobile-open-sub
                    background: $color-secondary
                    &:before
                        transform: rotate(90deg)
    .hamburger
        display: block
    .search
        &__input
            padding-left: 15px
            width: calc(100% - 140px)
    .footer
        &__body
            flex-flow: row wrap
        &__right
            width: 100%
            order: 1
        &__left
            width: 100%
            margin-top: 25px
            order: 2
    .footer-links
        a
            &:last-child
                margin-right: 0
    .copy-info
        max-width: 600px
        padding-top: 2px
    .copyright
        padding-left: 0
        text-align: center
    .footer-links
        text-align: center
        padding-left: 0
    .social-links
        padding-left: 0
        justify-content: center
        a
            &:last-child
                margin-right: 0
    .bookmaker-bonus
        &__item-buttons
            justify-content: center
    .bonus-det-banner
        &__right
            width: 51%
    .video-embed iframe
        max-width: 100%
        height: auto
    

@media only screen and (max-width: 767px)
    html
        font-size: 15px
    .container
        padding: 0
    .hamburger
        margin-left: 25px
    .search
        &__input
            padding-left: 4px
            width: calc(100% - 100px)
    .main-content
        margin-top: 30px
    .main-panel
        margin-bottom: 30px
        &--no-margin
            margin-bottom: 0
        &__content
            padding: 15px
            &--no-padding
                padding: 5px
        &__header
            flex-flow: row wrap
            &-title
                width: 100%
                flex-flow: row wrap
                span
                    width: 100%
                    margin-left: 0
                .main-panel-cats
                    padding-top: 10px
            &-button
                margin-top: 10px
                .btn--yellow
                    display: none
            &--carousel
                .main-panel__header-title
                    width: calc(100% - 60px)
    .bookmaker-bonus-nav
        margin-right: 0
    .bookmaker-table
        &__item
            margin-bottom: 15px
            &-col
                padding: 5px 8px 5px 0px
                &:nth-child(1)
                    width: 50%
                &:nth-child(2)
                    width: 50%
                &:nth-child(3)
                    width: 50%
                &:nth-child(4)
                    width: 50%
                &:nth-child(5)
                    width: 100%
                    .btn
                        text-align: center
                        width: calc(50% - 8px)
            &-full
                padding-left: 0
                margin-top: 10px
                margin-bottom: 5px
    .forecast-table
        &__item
            flex-flow: row wrap
            margin-bottom: 8px
            &:last-child
                margin-bottom: 0
            &-col
                &:nth-child(1)
                    width: 22%
                &:nth-child(2)
                    width: 78%
                &:nth-child(3)
                    padding: 8px 0 12px
                &:nth-child(3), &:nth-child(4)
                    width: 100%
                .forecast-table-teams__names
                    margin-left: 10px
                .forecast-table-button
                    justify-content: space-between
                    &__item
                        margin: 0
                        width: 30%
                        justify-content: center
    .news
        &__item
            width: 100%
            margin-bottom: 10px
            &:first-child
                margin-bottom: 25px
            &:last-child
                margin-bottom: 0
            &:first-child
                .news__item-content
                    padding: 200px 15px 18px 15px
        &__item-content
            padding: 10px 0 18px
    .footer
        padding: 30px 0
        &__left
            padding-right: 0
        &__right
            flex-flow: row wrap
            .footer-menu
                &:nth-child(1)
                    width: 100%
                    margin-bottom: 20px
                &:nth-child(2), &:nth-child(3)
                    width: 50%
    .breadcrumbs
        padding: 10px 0
    .breadcrumbs-list li
        margin: 10px 0
    .sidebar
        width: calc(100% + 30px)
        margin-left: -15px
    .sidebar-cats-title
        cursor: pointer
    .sidebar-item
        &__title
            position: relative
            padding: 15px
            min-height: 65px
        &__content
            max-height: 0
            overflow: hidden
            opacity: 0
            padding: 0 15px
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, max-height 0.3s ease-in-out
        &.is-open
            .sidebar-item__content
                max-height: 800px
                opacity: 1
                visibility: visible
                padding: 0 15px 15px 15px
            .cats-toggle
                background: $color-secondary
                &:before
                    transform: rotate(90deg)
    .cats-toggle
        display: flex
    .main-panel__grid
        flex-flow: row wrap
        .last-forecast
            width: 100%
            &:first-child
                margin-bottom: 20px
    .last-forecast
        padding: 20px
        &__teams
            width: 100%
            order: 2
            margin-top: 20px
        &__info
            width: 100%
            order: 1
            display: flex
            justify-content: space-between
            &-cat
                text-align: left
                a
                    display: block
            &-time
                margin-top: 0
    .bonus-banner
        margin-bottom: 30px
        max-height: 240px
        flex-flow: row wrap
        padding: 20px 30px 20px 110px
        &__img
            margin-bottom: 15px
        &__gift
            margin-bottom: 25px
        &__buttons
            a
                width: 100%
                margin: 0
                text-align: center
                &:last-child
                    margin-top: 10px
                    margin-left: 0
    .forecasts-list
        flex-flow: row wrap
    .last-forecast
        width: 100%
        padding: 20px
        margin-bottom: 20px
    .bookmaker-stat
        &__top
            padding: 15px
        &__bottom
            padding: 15px
        &__rating-list
            margin-top: 20px
    .bookmaker-menu
        position: relative
        max-height: 55px
        overflow: hidden
        transition: max-height 0.3s ease-in-out
        ul
            flex-flow: row wrap
            li
                width: 100%
                order: 2
                background: #778cd7
                a
                    justify-content: flex-start
                    font-size: 16px
                    background: transparent
                &.is-active
                    order: 1
                    background: $color-primary
                    a
                        width: calc(100% - 100px)
                        background: transparent
                        &:after
                            display: none
        &.is-open
            max-height: 800px
            .bookmaker-menu-button
                &:before
                    transform: rotate(90deg)
    .bookmaker-menu-button
        display: flex
    .bookmaker-sub-menu
        ul
            li
                a
                    margin: 8px 0
                    font-size: 14px
    .article
        &--margin
            margin-bottom: 30px
        &__content
            padding: 25px 15px
    .text-content
        font-size: 14px
        line-height: 20px
    .bonus-det-banner
        padding: 20px
        background: url('../images/content/bonus-banner-mobile.png') no-repeat center center
        background-size: cover
        &__left
            width: 100%
            min-height: 150px
            display: flex
            flex-flow: column wrap
            justify-content: flex-start
            align-items: flex-start
            h4
                width: 100%
                display: block
        &__right
            width: 100%
            padding-top: 20px
    .bookmaker-det-section__content:after
        width: 280px
        margin-left: -140px
    .football-field
        align-items: flex-end
        &__team
            padding-top: 45px
            &--first
                width: 50%
                padding-left: 10px
                order: 1
            &--second
                width: 50%
                order: 2
                padding-right: 10px
            &-logo
                width: 110px
                height: 110px
                margin: 0 auto
            &-title
                font-size: 16px
        &__time
            order: 3
            width: 100%
            padding-bottom: 15px
    .article
        &__image
            height: 250px
        &__det
            padding: 15px
            align-items: flex-end
            &-left
                .date
                    width: 100%
                    margin-bottom: 7px
            .share-panel
                right: 15px !important
        &__bet
            padding: 20px 15px
            flex-flow: row wrap
            &-left
                width: 100%
                .bet-num
                    width: 45px
                    height: 45px
                    font-size: 13px
                .bet-text
                    font-size: 13px
                    line-height: 18px
            &-right
                width: 100%
                text-align: center
                margin-top: 20px
    .voting
        &__header
            flex-flow: row wrap
            strong
                display: block
                width: 100%
        &__item
            &-percent
                width: 55px
            &-scale
                width: calc(100% - 125px)
            &-button
                width: 70px
    .white-panel
        padding: 15px
        &--detailed
            padding: 0
    .pagination ul li
        margin: 5px
    .header-text
        padding: 0 0 30px
    .comments-list
        &__header
            .btn
                display: none
    .comments-item
        &__photo
            width: 50px
            height: 50px
            margin-right: 15px
        &__content
            width: calc(100% - 65px)
    .comments-form
        &__body
            flex-flow: row wrap
        &__input
            width: 100%
        &__button
            margin-top: 15px
            justify-content: center
            width: 100%
    .terms-list-item__table
        table
            tr
                display: flex
                flex-flow: row wrap
                td
                    width: 100%
    .term-detailed
        &__image
            &:before
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: #000000
                opacity: 0.4
            h1, h2
                bottom: 20px
                left: 15px
                font-size: 20px
        &__text
            padding: 20px 15px
    .similar-term
        width: 100%
        &:first-child
            margin-bottom: 15px

@media only screen and (max-width: 350px)
    .hamburger
        margin-left: 15px
    .search
        &__input
            width: calc(100% - 90px)
            input
                font-size: 13px
