.sidebar-item
    width: 100%
    margin-bottom: 30px
    background: $color-white
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04)
    border-radius: 3px
    overflow: hidden
    &__title
        display: flex
        align-items: center
        justify-content: space-between
        min-height: 80px
        padding: 25px 30px
        span
            display: block
            padding-right: 10px
            font-size: rem(20px)
            font-weight: 500
            color: $color-s0teelGray
        a.more
            position: relative
            top: 1px
            display: flex
            align-items: center
            color: $color-primary
            font-size: rem(14px)
            &:after
                content: ''
                position: relative
                top: 1px
                margin-left: 8px
                +sprite('small-arrow-right')
            &:hover
                opacity: 0.8
    &__content
        padding: 0 30px 30px 30px
        &--no-p
            padding: 0
    &__banner
        overflow: hidden
        border-radius: 3px

.sidebar-publ
    $this: &;
    display: block
    margin-bottom: 30px
    &:last-child
        margin-bottom: 0
    &:hover
        #{$this}__title
            color: $color-primary
    &__title
        margin-top: 15px
        font-size: rem(16px)
        line-height: rem(20px)
        font-weight: 500
        color: $color-gunPowder

.sidebar-rating-cats
    li
        padding: 14px 0
        border-bottom: 1px solid $color-lightGray
        &:first-child
            padding-top: 5px
        &:last-child
            padding-bottom: 0px
            border-bottom: 0px
        a
            display: flex
            width: 100%
            align-items: center
            span.cat-icon
                display: flex
                justify-content: center
                width: 25px
                margin-right: 15px
                svg
                    fill: $color-waterloo
                    transition: fill 0.1s ease-in-out
            span.cat-title
                font-size: rem(14px)
                line-height: rem(18px)
                font-weight: 500
                color: $color-primary
                transition: color 0.1s ease-in-out
            &:hover
                span.cat-icon
                    svg
                        fill: $color-gunPowder
                span.cat-title
                    color: $color-gunPowder

.sidebar-academy
    margin-bottom: 25px
    &:last-child
        margin-bottom: 0
    &__title
        font-size: rem(16px)
        color: $color-gunPowder
        font-weight: 500
        line-height: rem(21px)
        &:hover
            color: $color-primary
    &__det
        display: flex
        align-items: center
        margin-top: 12px
        span
            display: flex
            align-items: center
            font-size: rem(13px)
            color: $color-waterloo
            &.comments
                margin-right: 30px
                &:before
                    content: ''
                    margin-right: 7px
                    +sprite('comments-small')
            &.date
                &:before
                    content: ''
                    margin-right: 8px
                    +sprite('date-small')
    
.sidebar-sport-cats
    $this: &;
    user-select: none
    & > li
        padding: 14px 0
        border-bottom: 1px solid $color-lightGray
        &:first-child
            padding-top: 5px
        &:last-child
            padding-bottom: 0px
            border-bottom: 0px
    &__line
        display: flex
        width: 100%
        align-items: center
    &__icon
        display: flex
        justify-content: center
        width: 25px
        margin-right: 15px
        svg
            fill: $color-waterloo
            transition: fill 0.1s ease-in-out
    &__title
        display: flex
        justify-content: space-between
        width: calc(100% - 40px)
        a
            padding-top: 1px
            font-size: rem(14px)
            line-height: rem(18px)
            font-weight: 500
            color: $color-primary
            transition: color 0.1s ease-in-out
            &:hover
                color: $color-s0teelGray
        .submenu-toggle
            display: flex
            flex-flow: row wrap
            justify-content: flex-end
            align-content: center
            width: 30px
            height: 19px
            padding-right: 3px
            line-height: 0
            cursor: pointer
            &:hover
                opacity: 0.7
            &:after
                content: ''
                +sprite('gray-small-arrow')
                transition: transform 0.2s ease
    &__submenu
        position: relative
        padding-left: 40px
        max-height: 0px
        visibility: hidden
        opacity: 0
        overflow: hidden
        transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out
        &:before
            content: ''
            position: absolute
            top: 10px
            left: 11px
            height: calc(100% - 20px)
            width: 1px
            background: $color-mischka
        li
            margin: 10px 0
            a
                font-size: rem(14px)
                color: $color-primary
                &:hover
                    color: $color-s0teelGray
            &.is-active, &.is-current
                a
                    color: $color-s0teelGray
    &__item
        &.is-active
            #{$this}__title
                a
                    color: $color-gunPowder
                .submenu-toggle
                    &:after
                        transform: rotate(90deg)
            #{$this}__icon
                svg
                    fill: $color-secondary
            #{$this}__submenu
                display: block
                visibility: visible
                opacity: 1
                max-height: 600px

.day-match
    position: relative
    &__img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 10
        img
            position: relative
            z-index: 20
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center center
            opacity: 0.3
        &:after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: linear-gradient(180deg, rgba(20, 22, 28, 0.7) 0%, rgba(12, 32, 101, 1) 100%)
            z-index: 10
    &__content
        position: relative
        z-index: 20
        padding: 30px
    &__teams
        display: flex
        justify-content: center
        align-items: flex-end
        border-bottom: 3px solid $color-secondary
        padding: 0 0 20px
        margin: 0 0 20px
        &-item
            text-align: center
            img
                max-width: 60px
                margin: 0 auto
            strong
                display: block
                margin-top: 7px
                font-size: rem(14px)
                font-weight: 500
                color: $color-white
        &-vs
            position: relative
            top: -35px
            display: flex
            justify-content: center
            align-items: center
            width: 30px
            height: 30px
            margin: 0 20px
            border-radius: 50%
            border: 1px solid $color-white
            font-size: 11px
            color: $color-white
            &:before
                content: 'VS'
    &__info
        display: flex
        flex-flow: row wrap
    &__left
        width: calc(47% - 20px)
        margin-right: 20px
        .subcat
            color: $color-white
            font-size: rem(13px)
        .cat
            display: block
            margin-top: 5px
            color: $color-white
            font-size: rem(15px)
            font-weight: 500
    &__right
        width: 53%
        &-content
            position: relative
            padding-left: 30px
            color: $color-white
            &:before
                content: ''
                position: absolute
                top: 3px
                left: 0
                +sprite('time-clock')
            span
                font-size: rem(12px)
            strong
                display: block
                margin-top: 3px
                font-weight: 500
                font-size: rem(17px)
    &__buttons
        width: 100%
        margin-top: 20px
        a
            text-align: center
            &:first-child
                width: calc(47% - 20px)
                margin-right: 20px
            &:last-child
                width: 53%

.sidebar-bookmaker
    padding-top: 18px
    border-bottom: 1px solid $color-lightGray
    &:first-child
        padding-top: 0px
    &:last-child
        border-bottom: 0
        .sidebar-bookmaker__row
            &:last-child
                padding-bottom: 0px
    &__row
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 15px
        img
            max-width: 140px
        .bookmaker-gift
            padding-right: 12px

.cats-toggle
    position: absolute
    top: 16px
    right: 14px
    display: none
    flex-flow: row wrap
    justify-content: center
    align-items: center
    width: 33px
    height: 33px
    background: #EAECF2
    border-radius: 50%
    z-index: 90
    cursor: pointer
    transition: all 0.3s ease-in-out
    &:before
        content: ''
        position: relative
        +sprite('mobile-arrow')
        transition: all 0.3s ease-in-out
