html
  font-size: $default-font-size
body
  position: relative
  width: 100%
  background-repeat: repeat-x
  font-family: $font-gotham
  font-style: normal
  font-weight: normal
  font-size: $default-font-size
  background: $color-athensGray
html, body
  height: 100%
main
  display: block
  box-sizing: border-box
*, *::before, *::after
  box-sizing: border-box
ul, ol
  list-style: none
  padding: 0
  margin: 0
a
  text-decoration: none !important
  @extend .transition
img
  display: block
  max-width: 100%
input[type="submit"]
  @extend .transition
input, textarea, select
  outline: none
  appearance: none

// Default elements for extend
.inline-block
  display: inline-block
  vertical-align: top
.transition
  transition: color 0.1s ease-in-out
.cb
  clear: both
