.breadcrumbs
    .container
        .row
            .col-12
                ul.breadcrumbs-list
                    li
                        a(href="#") Главная
                    li
                        a(href="#") Прогнозы
                    li
                        a(href="#") Прогнозы на футбол
                    li
                        a(href="#") Премьер-лига
