.breadcrumbs
    .container
        .row
            .col-12
                ul.breadcrumbs-list
                    li
                        a(href="#") Главная
                    li
                        a(href="#") Расшифровка ставок
