.bottom-text.bottom-text--margin
    p Когда букмекерский рынок начал развиваться, для того чтобы сделать ставку, необходимо было идти в ближайшее отделение. Благодаря стремительному развитию интернета и мобильных технологий появилась возможность делать ставки онлайн прямо со своего компьютера или мобильного устройства (смартфон, айфон, планшет). Теперь чтобы воспользоваться услугами букмекерской конторы достаточно иметь лишь доступ в интернет.
    ul
        li
            |Экономия времени. Теперь нет необходимости куда-то ехать. Ставку можно сделать дома прямо со своего компьютера. На официальном сайте конкретной букмекерской конторы вы сможете получить подробную информацию о каждой предстоящей игре;
        li
            |Заключить пари на любое событие вы можете в абсолютно любое время дня и ночи. Заранее сделанную ставку вы всегда сможете скорректировать;
    .video-embed
        |<iframe src="https://player.vimeo.com/video/276398801?color=546AB7&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

