article.article
    .article__title
        h1 Что будет с Лигой Чемпионов и Лигой Европы сезона 2020?
    .article__block
        .article__image
            img(src="assets/images/content/news-item.jpg", alt="")
            .article__det
                .article__det-left
                    span.date
                        |27 апреля 2020
                    span.comments
                        |15
                .article__det-right
                    span.share
                        |Поделить
                    .share-panel
                        |<script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script><div class="uSocial-Share" data-pid="bfd3a8b077419f859676927e5fa55173" data-type="share" data-options="round,style1,default,absolute,horizontal,size24,counter0,nomobile" data-social="vk,fb,twi,telegram,pinterest"></div>
        .article__content.text-content
            p Формат завершение Лиги чемпионов и Лиги Европы сезона 2019/2020 УЕФА предложил вариант доиграть лигу Чемпионов и Лигу Европы всего за три недели. Это планируют сделать в августе, но только в том случаи если чемпионаты возобновляться не позже чем в середине июня. УЕФА заинтересовано сделать все возможное, чтобы все европейские лиги без исключения доиграли свои сезоны и если все получиться, то в кратчайшие сроки все мы сможем увидеть нового чемпиона Лига чемпионов и Лиги Европы. Некоторые команду уже понемногу хотят возобновлять тренировки, а немецкий чемпионат по слухам может уже стартовать в мае, утверждают СМИ. Также и команды Италии и Испании, страны которые больше всего пострадали из-за вируса готовы в скором времени начать тренировки.
            p Все игроки, тренера, весь персонал будут сдавать пробы на вирус и при отрицательных анализах будут допущены до тренировок сохраняя все правила самозащиты. Тненировки в малых группах до 2-3х человек. По заявлениям президента УЕФА, Александера Чеферина, третьего августа Лига чемпионов и Лига Европы должны быть закончены. Если пандемия остановится и развяжет нам руки, то мы сможем попробовать начать и раньше, но тут уже от нас мало чего зависит, жизни людей важнее любого футбола. Также, президент заявил, что можно будет доигрывать стыковочные матчи по обычной системе (дома и на выезде) или возможно даже сократить каждую стадию до одного матча, как матчи плей-офф на чемпионатах Мира и Европы.
            h3 Лига Чемпионов
            img(src="assets/images/content/ligach.jpg", alt="")
            p Напомним, самый топовый чемпионат среди европейских команд Лига чемпионов и второй по значимости Лига Европы были приостановлены из-за пандемии коронавируса на этапе 1/8. Стало известно всего 4 команды участвующие в Лиге чемпионов которые пробились в 1/4 финала, ими стали: французский "ПСЖ", который обыграл немецкую "Боруссию Дортмунд" с общим 3:2. Сенсационно путевку в 1/4 финала вырвала команда Диего Симеоне и его "матрасники" "Атлетико Мадрид", одержав победу над чемпионами прошлого сезона розыгрыша Лиги чемпионов английского "Ливерпуля" и не менее знаменитого тренера Юргена Клоппа с общим счётом 4:2. Вслед на "матрасниками" последовала итальянская "Аталанта" разгромивши испанскую "Валенсию" с общим счётом 8:4. Прекратил свою борьбу и финалист прошлого сезона английский "Тоттенхем", не помог даже один из самых титулованных наставников мира Жозе Моуриньо. Английские "Шпоры" уступили новичку розыгрыша немецкому " РБ Лейпциг" с общим счётом 0:4. Остальная четверка пар ещё не определила сильнейшего.


