.bonus-banner
    .bonus-banner__num
        |80
    .bonus-banner__img
        img(src="assets/images/content/1xbet-big-logo.png", alt="")
    .bonus-banner__gift
        |2500 ₽
    .bonus-banner__buttons
        a.btn.btn--blue-border(href="#")
            |Обзор
        a.btn.btn--blue(href="#")
            |Получить бонус