.main-panel
    .main-panel__header
        .main-panel__header-title
            h2
                |Рейтинг букмекеров
            span
                a(href="#")
                    |Как мы оцениваем букмекеров?
        .main-panel__header-button
            a.btn.btn--yellow(href="#")
                |Полный список
    .main-panel__content
        .bookmaker-table
            .bookmaker-table__item
                .bookmaker-table__item-col
                    img(src="assets/images/content/bookmaker-1.png" alt="")
                .bookmaker-table__item-col
                    span.bookmaker-name
                        |Букмекер 1xBet
                .bookmaker-table__item-col
                    .rating-stars.rating-stars--5
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                .bookmaker-table__item-col
                    span.bookmaker-gift
                        |4000 ₽
                .bookmaker-table__item-col
                    span.bookmaker-buttons
                        a.btn.btn--blue-border(href="#")
                            |Обзор
                        a.btn.btn--blue(href="#")
                            |На сайт
            .bookmaker-table__item
                .bookmaker-table__item-col
                    img(src="assets/images/content/bookmaker-2.png" alt="")
                .bookmaker-table__item-col
                    span.bookmaker-name
                        |Пари-Матч
                .bookmaker-table__item-col
                    .rating-stars.rating-stars--5
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                .bookmaker-table__item-col
                    span.bookmaker-gift
                        |3500 ₽
                .bookmaker-table__item-col
                    span.bookmaker-buttons
                        a.btn.btn--blue-border(href="#")
                            |Обзор
                        a.btn.btn--blue(href="#")
                            |На сайт
            .bookmaker-table__item
                .bookmaker-table__item-col
                    img(src="assets/images/content/bookmaker-3.png" alt="")
                .bookmaker-table__item-col
                    span.bookmaker-name
                        |Контора MelBet
                .bookmaker-table__item-col
                    .rating-stars.rating-stars--4
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                .bookmaker-table__item-col
                    span.bookmaker-gift
                        |3600 ₽
                .bookmaker-table__item-col
                    span.bookmaker-buttons
                        a.btn.btn--blue-border(href="#")
                            |Обзор
                        a.btn.btn--blue(href="#")
                            |На сайт
            .bookmaker-table__item
                .bookmaker-table__item-col
                    img(src="assets/images/content/bookmaker-4.png" alt="")
                .bookmaker-table__item-col
                    span.bookmaker-name
                        |Букмекер Бетсити
                .bookmaker-table__item-col
                    .rating-stars.rating-stars--4
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                .bookmaker-table__item-col
                    span.bookmaker-gift
                        |3000 ₽
                .bookmaker-table__item-col
                    span.bookmaker-buttons
                        a.btn.btn--blue-border(href="#")
                            |Обзор
                        a.btn.btn--blue(href="#")
                            |На сайт
            .bookmaker-table__item
                .bookmaker-table__item-col
                    img(src="assets/images/content/bookmaker-5.png" alt="")
                .bookmaker-table__item-col
                    span.bookmaker-name
                        |Фан спорт
                .bookmaker-table__item-col
                    .rating-stars.rating-stars--3
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                .bookmaker-table__item-col
                    span.bookmaker-gift
                        |2800 ₽
                .bookmaker-table__item-col
                    span.bookmaker-buttons
                        a.btn.btn--blue-border(href="#")
                            |Обзор
                        a.btn.btn--blue(href="#")
                            |На сайт