mixin bookmaker-rating(title, black = false)

    .main-panel
        .main-panel__header
            .main-panel__header-title
                h2= title
        .main-panel__content
            .bookmaker-table(class = (black == true ? "bookmaker-table--black" : ""))
                .bookmaker-table__item
                    .bookmaker-table__item-col
                        img(src="assets/images/content/bookmaker-1.png" alt="")
                    .bookmaker-table__item-col
                        span.bookmaker-name
                            |Букмекер 1xBet
                    .bookmaker-table__item-col
                        .rating-stars.rating-stars--5
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                    .bookmaker-table__item-col
                        span.bookmaker-gift
                            |4000 ₽
                    .bookmaker-table__item-col
                        span.bookmaker-buttons
                            a.btn.btn--blue-border(href="#")
                                |Обзор
                            a.btn.btn--blue(href="#")
                                |На сайт
                    .bookmaker-table__item-full
                        |Данная букмекерская контора является лидером на отечественном рынке. Успешно функционирует уже более 10 лет. Компания является полностью легальной, вся деятельность выполняется через сервис ЦУПИС на основании полученной лицензии ФНС. Доступно около 30 разновидностей спорта, включая киберспорт.
                .bookmaker-table__item
                    .bookmaker-table__item-col
                        img(src="assets/images/content/bookmaker-2.png" alt="")
                    .bookmaker-table__item-col
                        span.bookmaker-name
                            |Пари-Матч
                    .bookmaker-table__item-col
                        .rating-stars.rating-stars--5
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                    .bookmaker-table__item-col
                        span.bookmaker-gift
                            |3500 ₽
                    .bookmaker-table__item-col
                        span.bookmaker-buttons
                            a.btn.btn--blue-border(href="#")
                                |Обзор
                            a.btn.btn--blue(href="#")
                                |На сайт
                    .bookmaker-table__item-full
                        |Около трех лет назад компания получила официальную лицензию на ведение букмекерской деятельности в интернете. БК имеет полноценный сайт, который имеет приятный дизайн и удобную навигацию. Есть все необходимые функциональные возможности для того чтобы без проблем делать ставки на спорт.
                .bookmaker-table__item
                    .bookmaker-table__item-col
                        img(src="assets/images/content/bookmaker-3.png" alt="")
                    .bookmaker-table__item-col
                        span.bookmaker-name
                            |Контора MelBet
                    .bookmaker-table__item-col
                        .rating-stars.rating-stars--4
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                    .bookmaker-table__item-col
                        span.bookmaker-gift
                            |3600 ₽
                    .bookmaker-table__item-col
                        span.bookmaker-buttons
                            a.btn.btn--blue-border(href="#")
                                |Обзор
                            a.btn.btn--blue(href="#")
                                |На сайт
                    .bookmaker-table__item-full
                        |Букмекерская контора входит в десятку самых надежных и прибыльных российских БК. Она одна из самых первых получила лицензию и стала выполнять все финансовые операции через систему ЦУПИС. Практически в каждом крупном городе Российской Федерации и стран СНГ имеется отделение данного букмекера.
                .bookmaker-table__item
                    .bookmaker-table__item-col
                        img(src="assets/images/content/bookmaker-4.png" alt="")
                    .bookmaker-table__item-col
                        span.bookmaker-name
                            |Букмекер Бетсити
                    .bookmaker-table__item-col
                        .rating-stars.rating-stars--4
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                    .bookmaker-table__item-col
                        span.bookmaker-gift
                            |3000 ₽
                    .bookmaker-table__item-col
                        span.bookmaker-buttons
                            a.btn.btn--blue-border(href="#")
                                |Обзор
                            a.btn.btn--blue(href="#")
                                |На сайт
                    .bookmaker-table__item-full
                        |Еще одна достаточно популярная букмекерская контора с многолетней историей для онлайн ставок на спорт. За все время существования не было никаких проблем с выводом денежных средств. Имеется несколько интересных и уникальных бонусных программ, которые доступны всем игрокам.
                .bookmaker-table__item
                    .bookmaker-table__item-col
                        img(src="assets/images/content/bookmaker-5.png" alt="")
                    .bookmaker-table__item-col
                        span.bookmaker-name
                            |Фан спорт
                    .bookmaker-table__item-col
                        .rating-stars.rating-stars--3
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                            span
                                +icon('star')
                    .bookmaker-table__item-col
                        span.bookmaker-gift
                            |2800 ₽
                    .bookmaker-table__item-col
                        span.bookmaker-buttons
                            a.btn.btn--blue-border(href="#")
                                |Обзор
                            a.btn.btn--blue(href="#")
                                |На сайт
                    .bookmaker-table__item-full
                        |Данный букмекер позволяет делать ставки на спорт через сайт и мобильное приложение. Основная площадка имеет все необходимые функции. Доступно большинство популярных матчей (около 25 видов спорта, включая киберспорт). Удобное и многофункциональное мобильное приложение.
