article.article.article--margin
    .article__title
        h1 Букмекерская контора 1хСтавка
    .article__block
        .bookmaker-stat(style="background-image: url('assets/images/content/book.jpg')")
            .bookmaker-stat__top
                .bookmaker-stat__logo
                    img(src="assets/images/content/bet1.png", alt="")
                .bookmaker-stat__rating-list
                    strong Характеристики
                    .det-rating-list
                        .det-rating-list__item
                            .det-rating-list__title
                                |Надежность
                            .det-rating-list__stars
                                .rating-stars.rating-stars--5
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                        .det-rating-list__item
                            .det-rating-list__title
                                |Коэффициенты
                            .det-rating-list__stars
                                .rating-stars.rating-stars--4
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                        .det-rating-list__item
                            .det-rating-list__title
                                |Бонусы и акции
                            .det-rating-list__stars
                                .rating-stars.rating-stars--3
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                        .det-rating-list__item
                            .det-rating-list__title
                                |Служба поддержки
                            .det-rating-list__stars
                                .rating-stars.rating-stars--5
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
                                    span
                                        +icon('star')
            .bookmaker-stat__bottom
                .general-rating
                    .rating-stars.rating-stars--5
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                    strong Общая оценка
                a.btn.btn--yellow(href="#")
                    |Перейти на сайт
        .bookmaker-menu
            .bookmaker-menu-button
            ul
                li.is-active
                    a(href="#")
                        |Обзор
                li
                    a(href="#")
                        |Отзывы
                li
                    a(href="#")
                        |Бонусы
                li
                    a(href="#")
                        |Ссылки
                li
                    a(href="#")
                        |Регистрация
                li
                    a(href="#")
                        |Промокоды
                li
                    a(href="#")
                        |Моб. приложение
        .bookmaker-sub-menu
            ul
                li
                    a(href="#review")
                        |Обзор компании
                li
                    a(href="#bonuses")
                        |Бонусы
                li
                    a(href="#payment-methods")
                        |Способы платежей
                li
                    a(href="#currency")
                        |Валюты счета
                li
                    a(href="#support")
                        |Служба поддержки
                li
                    a(href="#license")
                        |Лицензии
        .article__content
            .bookmaker-det-section
                .bookmaker-det-section__title
                    h2 
                        |Обзор компании
                        .copy-anchor#review
                .bookmaker-det-section__content.text-content
                    p Отечественная букмекерская контора 1хставка является полностью легальной. Имеет официальный сайт и мобильные версии для всех популярных операционных систем. Интерфейс сайта достаточно простой, а богатый функционал позволяет делать ставки на различные спортивные мероприятия, в том числе и на киберспорт. Высокую популярность компания приобрела благодаря своей игровой линии и высоким коэффициентам.
                    p Последние годы БК 1xставка имеет очень высокий рейтинг и авторитет. Она является официальным партнером известного футбольного клуба «Краснодар».
                    p Деятельность осуществляется как онлайн (интернет сайты и мобильные приложения), так и в оффлайн сегменте (более 750 точек во всех крупных городах России).
                    p Деятельность ведется полностью легально, на основании полученной лицензии. Владельцем БК является ООО «Букмекер Паб». В 2010 году была пройдена государственная регистрация, по окончанию которой компания получила соответствующую лицензию №17 ФНС РФ.
                    h5
                        |Базовый функционал и игровые коэффициенты
                    p Прематч линия достаточно широкая. Доступны практически все виды спорта (более 30 видов). На каждое спортивное мероприятие имеется широкая роспись, дается несколько различных выборов. Есть как традиционные варианты, так и последовательные цепочки ставок. Средний показатель маржи в прематч линии составляет порядка 3-х процентов.
                    ul
                        li
                            |Мобильность. Воспользоваться полным спектром всех услуг БК теперь вы можете с персонального компьютера или ноутбука прямо у себя дома в комфортной обстановке. Если установить приложение на смартфон или планшет, то пользоваться услугами вы можете в абсолютно любом месте, где имеется доступ к интернету;
                        li
                            |Экономия времени. Теперь нет необходимости искать филиал нужной вам букмекерской конторы в своем городе и тратить время на поездку;
                        li
                            |Удобство. В оффлайн точках постоянно шум, крики и суета. Все это в совокупности мешает сконцентрироваться и сделать правильный выбор.
            .bookmaker-det-section
                .bookmaker-det-section__title
                    h2 
                        |Бонусы
                        .copy-anchor#bonuses
                .bookmaker-det-section__content.text-content
                    .bonus-det-banner
                        .bonus-det-banner__left
                            h4
                                |Бонус до 5000 рублей на первый депозит от Бк "1х ставка"
                            a.btn.btn--yellow(href="#")
                                |Получить бонус
                        .bonus-det-banner__right
                            |В букмекерской конторе 1xСтавка все новые пользователи могут получить приветственный кэш-бонус. Новые клиенты могут получить бонус размером 100% от первого внесённого депозита, однако сумма приветственного бонуса не должна превышать 5000 рублей.
            .bookmaker-det-section
                .bookmaker-det-section__title
                    h2 
                        |Способы платежей
                        .copy-anchor#payment-methods
                .bookmaker-det-section__content.text-content
                    .images-list
                        img(src="assets/images/content/pay-1.png", alt="")
                        img(src="assets/images/content/pay-2.png", alt="")
                        img(src="assets/images/content/pay-3.png", alt="")
                        img(src="assets/images/content/pay-4.png", alt="")
                        img(src="assets/images/content/pay-5.png", alt="")
                        img(src="assets/images/content/pay-6.png", alt="")
                        img(src="assets/images/content/pay-7.png", alt="")
                        img(src="assets/images/content/pay-8.png", alt="")
                        img(src="assets/images/content/pay-9.png", alt="")
                        img(src="assets/images/content/pay-10.png", alt="")
            .bookmaker-det-section
                .bookmaker-det-section__title
                    h2 
                        |Валютные счета
                        .copy-anchor#currency
                .bookmaker-det-section__content
                    .currency-item
                        .currency-item__value
                            |RUB
                        .currency-item__text
                            strong
                                |Рубль
                            span
                                |В связи с законодательной базой Российской Федерации, а также согласно решениям ЦУПИС, букмекерские конторы, имеющие лицензию на предоставление своих услуг, должны принимать ставки на спорт исключительной в национальной валюте - российском рубле.
            .bookmaker-det-section
                .bookmaker-det-section__title
                    h2 
                        |Служба поддержки
                        .copy-anchor#support
                .bookmaker-det-section__content
                    .contacts-text
                        .contacts-text__phone
                            strong Телефон: 
                            span 8803445145
                        .contacts-text__email
                            strong E-mail:  
                            span info@1xstavka.ru
            .bookmaker-det-section.bookmaker-det-section--last
                .bookmaker-det-section__title
                    h2 
                        |Лицензии
                        .copy-anchor#license
                .bookmaker-det-section__content
                    .license-text
                        img(src="assets/images/content/license.png", alt="")
                        span
                            |ФНС России
                    
                            