.main-panel
    .main-panel__header.main-panel__header--carousel
        .main-panel__header-title
            h2
                |Бонусы букмекерских контор
        .main-panel__header-button
            .bookmaker-bonus-nav
                .bookmaker-bonus-nav__prev
                    +icon('slider-arrow')
                .bookmaker-bonus-nav__next
                    +icon('slider-arrow')
            a.btn.btn--yellow(href="#")
                |Все бонусы
    .main-panel__content
        .swiper-container.swiper-bonus
            .bookmaker-bonus.swiper-wrapper
                .bookmaker-bonus__item.swiper-slide
                    .bookmaker-bonus__item-img
                        img(src="assets/images/content/1xbet-logo.png", alt="")
                    .bookmaker-bonus__item-sum
                        |3fW452K
                    .bookmaker-bonus__item-text
                        |Бесплатный промокод на 90%
                    .bookmaker-bonus__item-buttons
                        a.btn.btn--blue-border(href="#")
                            |Подробнее
                        a.btn.btn--blue(href="#")
                            |Получить
                .bookmaker-bonus__item.swiper-slide
                    .bookmaker-bonus__item-img
                        img(src="assets/images/content/fonbet-logo.png", alt="")
                    .bookmaker-bonus__item-sum
                        |2500 ₽
                    .bookmaker-bonus__item-text
                        |Кэш-бонус 100%
                    .bookmaker-bonus__item-buttons
                        a.btn.btn--blue-border(href="#")
                            |Подробнее
                        a.btn.btn--blue(href="#")
                            |Получить
                .bookmaker-bonus__item.swiper-slide
                    .bookmaker-bonus__item-img
                        img(src="assets/images/content/parimatch-logo.png", alt="")
                    .bookmaker-bonus__item-sum
                        |3500 ₽
                    .bookmaker-bonus__item-text
                        |Фрибет от Пари-Матч
                    .bookmaker-bonus__item-buttons
                        a.btn.btn--blue-border(href="#")
                            |Подробнее
                        a.btn.btn--blue(href="#")
                            |Получить
                .bookmaker-bonus__item.swiper-slide
                    .bookmaker-bonus__item-img
                        img(src="assets/images/content/fonbet-logo.png", alt="")
                    .bookmaker-bonus__item-sum
                        |2500 ₽
                    .bookmaker-bonus__item-text
                        |Кэш-бонус 100%
                    .bookmaker-bonus__item-buttons
                        a.btn.btn--blue-border(href="#")
                            |Подробнее
                        a.btn.btn--blue(href="#")
                            |Получить
                .bookmaker-bonus__item.swiper-slide
                    .bookmaker-bonus__item-img
                        img(src="assets/images/content/parimatch-logo.png", alt="")
                    .bookmaker-bonus__item-sum
                        |3500 ₽
                    .bookmaker-bonus__item-text
                        |Фрибет от Пари-Матч
                    .bookmaker-bonus__item-buttons
                        a.btn.btn--blue-border(href="#")
                            |Подробнее
                        a.btn.btn--blue(href="#")
                            |Получить