.comments-list
    .comments-list__header
        h4 Комментарии (5)   
        a.btn.btn--blue(href="#write-comment")
            |Написать комментарий
    .comments-list__body
        .comments-item
            .comments-item__photo
                img(src="assets/images/content/ava-1.jpg", alt="")
            .comments-item__content
                .comments-item__content-top
                    strong Юрий Бойко
                    span 20.04.20 &nbsp;10:21
                .comments-item__content-text
                    |Весь британский Твиттер сейчас набросился на #Ливерпуль и #Тоттенхэм. Платить их персоналу будет государство. Эти клубы отправили свой персонал в отпуск с сохранением полного размера зарплаты и так далее.
                .comments-item__content-write
                    button.to-answer
                        |Ответить
        .comments-item
            .comments-item__photo
                img(src="assets/images/content/ava-2.jpg", alt="")
            .comments-item__content
                .comments-item__content-top
                    strong Нурлан Сабуров
                    span 21.04.20 &nbsp;15:45
                .comments-item__content-text
                    |Если версия про "биологическую бомбу" на матче #Аталанта - #Валенсия - правда, то футбол с болельщиками может вернуться очень нескоро. Очень, очень нескоро!
                .comments-item__content-write
                    button.to-answer
                        |Ответить
                .comments-item__content-answers
                    .comments-item
                        .comments-item__photo
                            img(src="assets/images/content/ava-3.jpg", alt="")
                        .comments-item__content
                            .comments-item__content-top
                                strong Виктория Онишко
                                span 21.04.20 &nbsp;16:12
                            .comments-item__content-text
                                |И то, и то - точно не вопрос ближайшего будущего. И если так, то #Николай Несенюк в своих высказываниях окажется отчасти прав.
                            .comments-item__content-write
                                button.to-answer
                                    |Ответить
                    .comments-item
                        .comments-item__photo
                            img(src="assets/images/content/ava-4.jpg", alt="")
                        .comments-item__content
                            .comments-item__content-top
                                strong Евгений Круча
                                span 21.04.20 &nbsp;16:37
                            .comments-item__content-text
                                |Сейчас бы после работы зайти в магазин за пивом и рыбкой, и выбирать что бы посмотреть вечером, Сити-Реал или Юве-Лион, а не вот это вот все...
                            .comments-item__content-write
                                button.to-answer
                                    |Ответить
        .comments-item
            .comments-item__photo
                img(src="assets/images/content/ava-5.jpg", alt="")
            .comments-item__content
                .comments-item__content-top
                    strong Владислав Кравец
                    span 22.04.20 &nbsp;20:04
                .comments-item__content-text
                    |Как же все таки нужна в футболе тренерская харизма! Атлетико большую часть матча играл хуже но прошел дальше благодаря одной гениальной замене Симеоне, Яну Облаку, бойцовскому характеру и умению терпеть - все это привил Симеоне этой команде.
                .comments-item__content-write
                    button.to-answer
                        |Ответить
.comments-form#write-comment
    form(action="")
        .comments-form__body
            .comments-form__input
                textarea.input-textarea(placeholder="Оставьте свой комментарий...")
            .comments-form__button
                button.btn.btn--yellow
                    |Комментировать