.forecasts-list
    .last-forecast.last-forecast--full
        .last-forecast__top
            .last-forecast__info
                .last-forecast__info-cat
                    a.cat(href="#")
                        |Футбол
                    a.subcat(href="#")
                        |Премьер Лига
                .last-forecast__info-time
                    strong
                        |21:40
                    span
                        |24 апреля
            .last-forecast__teams
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-1.png" alt="")
                    strong
                        |Валенсия
                .last-forecast__teams-vs
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-2.png" alt="")
                    strong
                        |Бавария
        .last-forecast__bet
            .last-forecast__bet-num
                |1.50
            .last-forecast__bet-text
                strong
                    |Ставка на исход: Победа Валенсия
                span
                    |Валенсия победила в 6 из 7 последних личных встреч в Высшей лиге
        .last-forecast__buttons
            a.btn.btn--blue-border(href="#")
                |Подробнее
            a.btn.btn--blue(href="#")
                |Сделать ставку
    .last-forecast.last-forecast--full
        .last-forecast__top
            .last-forecast__info
                .last-forecast__info-cat
                    a.cat(href="#")
                        |Футбол
                    a.subcat(href="#")
                        |Премьер Лига
                .last-forecast__info-time
                    strong
                        |21:45
                    span
                        |23 апреля
            .last-forecast__teams
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-3.png" alt="")
                    strong
                        |Лион
                .last-forecast__teams-vs
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-4.png" alt="")
                    strong
                        |Наполи
        .last-forecast__bet
            .last-forecast__bet-num
                |1.67
            .last-forecast__bet-text
                strong
                    |Ставка на тотал: Лион ИТБ 1.5
                span
                    |Лион забил больше 1 гола в 6 последних встречах в высшей лиге
        .last-forecast__buttons
            a.btn.btn--blue-border(href="#")
                |Подробнее
            a.btn.btn--blue(href="#")
                |Сделать ставку
    .last-forecast.last-forecast--full
        .last-forecast__top
            .last-forecast__info
                .last-forecast__info-cat
                    a.cat(href="#")
                        |Футбол
                    a.subcat(href="#")
                        |Лига Чемпионов
                .last-forecast__info-time
                    strong
                        |19:50
                    span
                        |22 апреля
            .last-forecast__teams
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-5.png" alt="")
                    strong
                        |Барселона
                .last-forecast__teams-vs
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-6.png" alt="")
                    strong
                        |Реал
        .last-forecast__bet
            .last-forecast__bet-num
                |1.20
            .last-forecast__bet-text
                strong
                    |Ставка на исход: Победа Реал
                span
                    |Реал побеждал в 6 из 7 последних личных встреч в Высшей лиге
        .last-forecast__buttons
            a.btn.btn--blue-border(href="#")
                |Подробнее
            a.btn.btn--blue(href="#")
                |Сделать ставку
    .last-forecast.last-forecast--full
        .last-forecast__top
            .last-forecast__info
                .last-forecast__info-cat
                    a.cat(href="#")
                        |Киберспорт
                    a.subcat(href="#")
                        |Starladder
                .last-forecast__info-time
                    strong
                        |21:00
                    span
                        |22 апреля
            .last-forecast__teams
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-7.png" alt="")
                    strong
                        |Барселона
                .last-forecast__teams-vs
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-8.png" alt="")
                    strong
                        |Реал
        .last-forecast__bet
            .last-forecast__bet-num
                |2.10
            .last-forecast__bet-text
                strong
                    |Ставка на исход: Победа Navi
                span
                    |Navi побеждает уже в 5 последних матчах и при этом всег с очень хорошим счетем
        .last-forecast__buttons
            a.btn.btn--blue-border(href="#")
                |Подробнее
            a.btn.btn--blue(href="#")
                |Сделать ставку
    .last-forecast.last-forecast--full
        .last-forecast__top
            .last-forecast__info
                .last-forecast__info-cat
                    a.cat(href="#")
                        |Футбол
                    a.subcat(href="#")
                        |Премьер Лига
                .last-forecast__info-time
                    strong
                        |21:40
                    span
                        |24 апреля
            .last-forecast__teams
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-1.png" alt="")
                    strong
                        |Валенсия
                .last-forecast__teams-vs
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-2.png" alt="")
                    strong
                        |Бавария
        .last-forecast__bet
            .last-forecast__bet-num
                |1.50
            .last-forecast__bet-text
                strong
                    |Ставка на исход: Победа Валенсия
                span
                    |Валенсия победила в 6 из 7 последних личных встреч в Высшей лиге
        .last-forecast__buttons
            a.btn.btn--blue-border(href="#")
                |Подробнее
            a.btn.btn--blue(href="#")
                |Сделать ставку
    .last-forecast.last-forecast--full
        .last-forecast__top
            .last-forecast__info
                .last-forecast__info-cat
                    a.cat(href="#")
                        |Футбол
                    a.subcat(href="#")
                        |Премьер Лига
                .last-forecast__info-time
                    strong
                        |21:45
                    span
                        |23 апреля
            .last-forecast__teams
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-3.png" alt="")
                    strong
                        |Лион
                .last-forecast__teams-vs
                .last-forecast__teams-item
                    .last-forecast__teams-item-img
                        img(src="assets/images/content/f-4.png" alt="")
                    strong
                        |Наполи
        .last-forecast__bet
            .last-forecast__bet-num
                |1.67
            .last-forecast__bet-text
                strong
                    |Ставка на тотал: Лион ИТБ 1.5
                span
                    |Лион забил больше 1 гола в 6 последних встречах в высшей лиге
        .last-forecast__buttons
            a.btn.btn--blue-border(href="#")
                |Подробнее
            a.btn.btn--blue(href="#")
                |Сделать ставку
.load-more
    button.btn.btn--yellow
        |Показать еще