article.article.article--margin
    .article__title
        h1 Ставка на исход матча
    .article__block
        .article__field
            .football-field
                .football-field__gate-first
                .football-field__gate-second
                .football-field__bg
                    img(src="assets/images/icons/field.svg", alt="")
                .football-field__top
                    .football-field__top-left
                        a(href="#") Премьер Лига
                    .football-field__top-right
                        strong 21:45
                        span 23 апреля
                .football-field__team.football-field__team--first
                    .football-field__team-logo
                        img(src="assets/images/content/bars1.png", alt="")
                    .football-field__team-title
                        |Барселона
                .football-field__time
                    span Игра начнется через
                    strong 05:24:05
                .football-field__team.football-field__team--second
                    .football-field__team-logo
                        img(src="assets/images/content/real1.png", alt="")
                    .football-field__team-title
                        |Реал Мадрид
        .article__bet
            .article__bet-left
                .bet-num
                    |1.50
                .bet-text
                    h4 Ставка на исход: Победа Барселона
                    span Барселона победила в 6 из 7 последних личных встреч в Высшей лиге
            .article__bet-right
                a.btn.btn--yellow(href="#")
                    |Сделать ставку
        .article__content.text-content
            h3.subtitle О матче
            p В рамках регулярного чемпионата Евролиги встретятся «Барселона» и «Бавария». Букмекеры не оставляют гостям никаких шансов на победу, оценивая их успех коэффициентом 10. Нам ничего не остается, кроме как тщательнее изучить линию и обратить внимание на рынок тоталов. Там вполне может скрываться надежный вариант для ставки.
            p Мюнхенской дружине не хватило мастерства и класса для успешного выступления на два фронта - в чемпионате Германии и Евролиге. В домашнем первенстве у «Баварии» все отлично, а вот в самых престижных баскетбольных состязаниях Старого Света немцы давно потеряли шансы на выход в плей-офф. Команда просто доигрывает сезон. 
            .center-button
                a.btn.btn--yellow(href="#")
                    |Сделать ставку
            .voting
                .voting__header
                    strong
                        |Сыграет этот прогноз?
                    span
                        |Всего голосов: 45
                .voting__item.voting__item--yes
                    .voting__item-percent
                        |77%
                    .voting__item-scale
                        .scale-line
                            .scale-line__inside(style="width: 77%")
                        span.scale-text
                            |36 голосов
                    .voting__item-button
                        button.btn.btn--border
                            |Да
                .voting__item.voting__item--no
                    .voting__item-percent
                        |23%
                    .voting__item-scale
                        .scale-line
                            .scale-line__inside(style="width: 23%")
                        span.scale-text
                            |9 голосов
                    .voting__item-button
                        button.btn.btn--border
                            |Нет