mixin last-forecast(title, button = true)
    .main-panel
        .main-panel__header
            .main-panel__header-title
                h2= title
            if button
                .main-panel__header-button
                    a.btn.btn--yellow(href="#")
                        |Больше прогнозов
        .main-panel__grid
            .last-forecast
                .last-forecast__top
                    .last-forecast__teams
                        .last-forecast__teams-item
                            .last-forecast__teams-item-img
                                img(src="assets/images/content/valensia-logo2.png", alt="")
                            strong
                                |Валенсия
                        .last-forecast__teams-vs
                        .last-forecast__teams-item
                            .last-forecast__teams-item-img
                                img(src="assets/images/content/bavaria-logo.png", alt="")
                            strong
                                |Бавария
                    .last-forecast__info
                        .last-forecast__info-cat
                            a.cat(href="#")
                                |Футбол
                            a.subcat(href="#")
                                |Премьер Лига
                        .last-forecast__info-time
                            strong
                                |21:40
                            span
                                |24 апреля
                .last-forecast__bet
                    .last-forecast__bet-num
                        |1.50
                    .last-forecast__bet-text
                        strong
                            |Ставка на исход: Победа Валенсия
                        span
                            |Валенсия победила в 6 из 7 последних личных встреч в Высшей лиге
                .last-forecast__buttons
                    a.btn.btn--blue-border(href="#")
                        |Подробнее
                    a.btn.btn--blue(href="#")
                        |Сделать ставку
            .last-forecast
                .last-forecast__top
                    .last-forecast__teams
                        .last-forecast__teams-item
                            .last-forecast__teams-item-img
                                img(src="assets/images/content/atletico-logo.png", alt="")
                            strong
                                |Атлетико
                        .last-forecast__teams-vs
                        .last-forecast__teams-item
                            .last-forecast__teams-item-img
                                img(src="assets/images/content/liverpol-logo2.png", alt="")
                            strong
                                |Ливерпуль
                    .last-forecast__info
                        .last-forecast__info-cat
                            a.cat(href="#")
                                |Футбол
                            a.subcat(href="#")
                                |Премьер Лига
                        .last-forecast__info-time
                            strong
                                |19:30
                            span
                                |23 апреля
                .last-forecast__bet
                    .last-forecast__bet-num
                        |1.20
                    .last-forecast__bet-text
                        strong
                            |Ставка на исход: Победа Валенсия
                        span
                            |Валенсия победила в 6 из 7 последних личных встреч в Высшей лиге
                .last-forecast__buttons
                    a.btn.btn--blue-border(href="#")
                        |Подробнее
                    a.btn.btn--blue(href="#")
                        |Сделать ставку
