.white-panel.white-panel--news
    .news
        .news__item
            .news__item-img
                img(src="assets/images/content/news-2.jpg" alt="")
            .news__item-content
                .news__item-cat
                    a(href="#") Баскетбол
                a.news__item-title(href="#")
                    |НБА не будет проводить драфт до окончания нынешнего сезона

                .news__item-det
                    span.comments
                        |24
                    span.date
                        |18.04.2020
        .news__item
            .news__item-img
                img(src="assets/images/content/news-1.jpg" alt="")
            .news__item-content
                .news__item-cat
                    a(href="#") Футбол
                a.news__item-title(href="#")
                    |Ювентус снова хочет переманить Зинедина Зидана
                .news__item-det
                    span.comments
                        |15
                    span.date
                        |18.04.2020
        .news__item
            .news__item-img
                img(src="assets/images/content/news-3.jpg" alt="")
            .news__item-content
                .news__item-cat
                    a(href="#") Футбол
                a.news__item-title(href="#")
                    |Бойко раскрыл секрет отражения точного пенальти
                .news__item-det
                    span.comments
                        |34
                    span.date
                        |17.04.2020
        .news__item
            .news__item-img
                img(src="assets/images/content/news-4.jpg" alt="")
            .news__item-content
                .news__item-cat
                    a(href="#") Киберспорт
                a.news__item-title(href="#")
                    |Гранд-финал ESL. Virtus.pro против команды OG
                .news__item-det
                    span.comments
                        |64
                    span.date
                        |16.04.2020
        .news__item
            .news__item-img
                img(src="assets/images/content/news-4.jpg" alt="")
            .news__item-content
                .news__item-cat
                    a(href="#") Футбол
                a.news__item-title(href="#")
                    |Бойко раскрыл секрет отражения точного пенальти
                .news__item-det
                    span.comments
                        |34
                    span.date
                        |17.04.2020
        .news__item
            .news__item-img
                img(src="assets/images/content/news-5.jpg" alt="")
            .news__item-content
                .news__item-cat
                    a(href="#") Киберспорт
                a.news__item-title(href="#")
                    |Гранд-финал ESL. Virtus.pro против команды OG
                .news__item-det
                    span.comments
                        |64
                    span.date
                        |16.04.2020
        .news__item
            .news__item-img
                img(src="assets/images/content/news-6.jpg" alt="")
            .news__item-content
                .news__item-cat
                    a(href="#") Футбол
                a.news__item-title(href="#")
                    |Ювентус снова хочет переманить Зинедина Зидана
                .news__item-det
                    span.comments
                        |15
                    span.date
                        |18.04.2020
        .news__item
            .news__item-img
                img(src="assets/images/content/news-7.jpg" alt="")
            .news__item-content
                .news__item-cat
                    a(href="#") Футбол
                a.news__item-title(href="#")
                    |Бойко раскрыл секрет отражения точного пенальти
                .news__item-det
                    span.comments
                        |34
                    span.date
                        |17.04.2020
