.main-panel.main-panel--no-margin
    .main-panel__header
        .main-panel__header-title
            h2
                |Похожие новости
    .main-panel__content.main-panel__content--news
        .news
            .news__item
                .news__item-img
                    img(src="assets/images/content/news-6.jpg" alt="")
                .news__item-content
                    .news__item-cat
                        a(href="#") Футбол
                    a.news__item-title(href="#")
                        |"Ньюкасл" скоро купят саудиты, но не спешите радоваться

                    .news__item-det
                        span.comments
                            |24
                        span.date
                            |18.04.2020
            .news__item
                .news__item-img
                    img(src="assets/images/content/news-7.jpg" alt="")
                .news__item-content
                    .news__item-cat
                        a(href="#") Футбол
                    a.news__item-title(href="#")
                        |Ювентус снова хочет переманить Зинедина Зидана
                    .news__item-det
                        span.comments
                            |15
                        span.date
                            |18.04.2020
