.main-panel.main-panel--no-margin
    .main-panel__header
        .main-panel__header-title
            h2 Похожие расшифровки
        .main-panel__header-button
            a.btn.btn--yellow(href="#")
                |все расшифровки ставок
    .main-panel__grid
        .similar-term
            .similar-term__title
                a(href="#") Результативная ничья
            .similar-term__text
                |Очень интересный вид ставки. Здесь необходимо, чтобы игра завершилась с ничейным результатом, но главное условие, чтобы итоговый счет...
            .similar-term__button
                a.btn.btn--blue-border(href="#")
                    |Читать дальше
        .similar-term
            .similar-term__title
                a(href="#") Двойной шанс 1x 12 2x
            .similar-term__text
                |Данная разновидность заключения пари подразумевает одновременную победу обеих команд. В этом случае вы можете минимально снизить свои риски...
            .similar-term__button
                a.btn.btn--blue-border(href="#")
                    |Читать дальше