.white-panel
    .terms-list
        .terms-list-item
            .terms-list-item__title
                |2
            .terms-list-item__table
                table
                    tr
                        td
                            a(href="#") 2 пройдет
                        td
                            a(href="#") 2 тайм П1
                        td
                            a(href="#") 2 тайм П2
        .terms-list-item
            .terms-list-item__title
                |А
            .terms-list-item__table
                table
                    tr
                        td
                            a(href="#") Автогол
        .terms-list-item
            .terms-list-item__title
                |В
            .terms-list-item__table
                table
                    tr
                        td
                            a(href="#") Выиграет в обоих таймах
                        td
                            a(href="#") Выиграет в обоих таймах - нет
                        td
                            a(href="#") Выиграет хотя бы один тайм
        .terms-list-item
            .terms-list-item__title
                |Г
            .terms-list-item__table
                table
                    tr
                        td
                            a(href="#") Гол в меньшинстве
                        td
                            a(href="#") Гол в пустые ворота
                        td
                            a(href="#") Голы в обоих таймах - да
                    tr
                        td
                            a(href="#") Голы в обоих таймах - нет
        .terms-list-item
            .terms-list-item__title
                |Д
            .terms-list-item__table
                table
                    tr
                        td
                            a(href="#") Двойной шанс 1х 12 2х
                        td
                            a(href="#") Дубль
        .terms-list-item
            .terms-list-item__title
                |З
            .terms-list-item__table
                table
                    tr
                        td
                            a(href="#") Забьет в одном из таймов
                        td
                            a(href="#") Забьет игрок, вышедший на замену
        .terms-list-item
            .terms-list-item__title
                |К
            .terms-list-item__table
                table
                    tr
                        td
                            a(href="#") Количество брейков
                        td
                            a(href="#") Количество двойных ошибок
                        td
                            a(href="#") Количество матчболов
                    tr
                        td
                            a(href="#") Количество сетов
                        td
                            a(href="#") Количество эйсов
                        td
                            a(href="#") Команда хозяев забьет
        .terms-list-item
            .terms-list-item__title
                |М
            .terms-list-item__table
                table
                    tr
                        td
                            a(href="#") Минута первого гола
                        td
                            a(href="#") Минута последнего гола
        .terms-list-item
            .terms-list-item__title
                |О
            .terms-list-item__table
                table
                    tr
                        td
                            a(href="#") Обе забьют - да
                        td
                            a(href="#") Обе забьют - нет
                        td
                            a(href="#") Обе забьют (ОЗ)