.term-detailed.white-panel.white-panel--detailed
    .term-detailed__image
        img(src="assets/images/content/terms-bg.jpg", alt="")
        h1 Выиграет в обоих таймах - нет
    .term-detailed__text.text-content
        strong Что такое ставка «выиграет в обоих таймах – нет» в букмекерских конторах?
        br
        br
        strong Необходимые условия при заключении пари «выиграет в обоих таймах – нет»?
        br
        br
        strong Когда «выиграет в обоих таймах – нет» будет выигрышем, а когда проигрышем?
        br
        br
        p Пари заключается в основном в футбольных матчах. Суть его в том, что выбранная вами команда не должна выигрывать в одном из временных отрезков. По итогу встречи неважно проиграет команда или сыграет вничью, главное чтобы в одном из периодов была победа или ничья, а во втором – проигрыш.
        p Игровые коэффициенты на данное событие достаточно средние и будут зависеть от встречающихся футбольных клубов. Большинство современных букмекерских контор принимают ставки на данный тип пари.
        p Простой пример. Выбираем английскую премьер-лигу и ставим на игру Манчестер Сити – Челси. Пари заключается именно на Манчестер Сити. Дожидаемся окончания встречи. Если один из таймов команда выиграла, а другой проиграла, то ставка будет считаться выигрышной, и вы получаете свое денежное вознаграждение.

        .term-result.term-result--win
            .term-result__title
                |Выигрыш:
            .term-result__text
                |Если команда, на которую вы поставили, в одном периоде проигрывает, а во втором играет вничью или побеждает, то вы выигрываете. Абсолютно не важно, кто победит и с каким счетом.
        .term-result.term-result--loss
            .term-result__title
                |Проигрыш:
            .term-result__text
                |Если команда проиграла, победила или сыграла вничью в оба отрезка времени, то пари считается проигрышным.
        .term-result.term-result--return
                .term-result__title
                    |Возврат:
                .term-result__text
                    |В случае отмены матча по любым причинам, денежная сумма полностью возвращается игроку на его счет.
        