mixin upcoming-forecast(title, menu = true, button = true)
    .main-panel
        .main-panel__header
            .main-panel__header-title
                h2= title
                if menu
                    span.main-panel-cats
                        a.is-active(href="#")
                            |Футбол
                        a(href="#")
                            |Баскетбол
                        a(href="#")
                            |Киберспорт
            if button
                .main-panel__header-button
                    a.btn.btn--yellow(href="#")
                        |Смотреть все
        .main-panel__content.main-panel__content--no-padding
            .forecast-table
                a.forecast-table__item(href="#")
                    .forecast-table__item-col
                        .forecast-table-time
                            strong 21:30
                            |19 апр.
                    .forecast-table__item-col
                        .forecast-table-teams
                            .forecast-table-teams__logos
                                img(src="assets/images/content/tyrino-logo.png", alt="")
                                img(src="assets/images/content/inter-logo.png", alt="")
                            .forecast-table-teams__names
                                span
                                    |Турино
                                span
                                    |Интер
                    .forecast-table__item-col
                        span.forecast-table-cat
                            |Чемпионат Италии
                    .forecast-table__item-col
                        .forecast-table-button
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П1
                                span
                                    |1.30
                            .forecast-table-button__item
                                span
                                    |1.65
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П2
                                span
                                    |2.10
                a.forecast-table__item(href="#")
                    .forecast-table__item-col
                        .forecast-table-time
                            strong 19:45
                            |18 апр.
                    .forecast-table__item-col
                        .forecast-table-teams
                            .forecast-table-teams__logos
                                img(src="assets/images/content/sheffild-logo.png", alt="")
                                img(src="assets/images/content/manch-logo.png", alt="")
                            .forecast-table-teams__names
                                span
                                    |Шеффилд Юнайтед
                                span
                                    |Манчестер Юнайтед
                    .forecast-table__item-col
                        span.forecast-table-cat
                            |Чемпионат Италии
                    .forecast-table__item-col
                        .forecast-table-button
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П1
                                span
                                    |1.40
                            .forecast-table-button__item
                                span
                                    |1.15
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П2
                                span
                                    |3.15
                a.forecast-table__item(href="#")
                    .forecast-table__item-col
                        .forecast-table-time
                            strong 21:30
                            |18 апр.
                    .forecast-table__item-col
                        .forecast-table-teams
                            .forecast-table-teams__logos
                                img(src="assets/images/content/lester-logo.png", alt="")
                                img(src="assets/images/content/arsenal-logo.png", alt="")
                            .forecast-table-teams__names
                                span
                                    |Лестер
                                span
                                    |Арсенал
                    .forecast-table__item-col
                        span.forecast-table-cat
                            |АПЛ 24
                    .forecast-table__item-col
                        .forecast-table-button
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П1
                                span
                                    |1.10
                            .forecast-table-button__item
                                span
                                    |1.65
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П2
                                span
                                    |2.23
                a.forecast-table__item(href="#")
                    .forecast-table__item-col
                        .forecast-table-time
                            strong 21:30
                            |18 апр.
                    .forecast-table__item-col
                        .forecast-table-teams
                            .forecast-table-teams__logos
                                img(src="assets/images/content/dinamo-logo.png", alt="")
                                img(src="assets/images/content/shahtar-logo.png", alt="")
                            .forecast-table-teams__names
                                span
                                    |Динамо Загреб
                                span
                                    |Шахтер Донецк
                    .forecast-table__item-col
                        span.forecast-table-cat
                            |Лига Чемпионов
                    .forecast-table__item-col
                        .forecast-table-button
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П1
                                span
                                    |1.25
                            .forecast-table-button__item
                                span
                                    |1.15
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П2
                                span
                                    |1.42
                a.forecast-table__item(href="#")
                    .forecast-table__item-col
                        .forecast-table-time
                            strong 18:40
                            |17 апр.
                    .forecast-table__item-col
                        .forecast-table-teams
                            .forecast-table-teams__logos
                                img(src="assets/images/content/dinamo-logo.png", alt="")
                                img(src="assets/images/content/shahtar-logo.png", alt="")
                            .forecast-table-teams__names
                                span
                                    |Динамо Загреб
                                span
                                    |Шахтер Донецк
                    .forecast-table__item-col
                        span.forecast-table-cat
                            |Лига Чемпионов
                    .forecast-table__item-col
                        .forecast-table-button
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П1
                                span
                                    |1.25
                            .forecast-table-button__item
                                span
                                    |1.15
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П2
                                span
                                    |1.42
                a.forecast-table__item(href="#")
                    .forecast-table__item-col
                        .forecast-table-time
                            strong 18:50
                            |17 апр.
                    .forecast-table__item-col
                        .forecast-table-teams
                            .forecast-table-teams__logos
                                img(src="assets/images/content/valensia-logo.png", alt="")
                                img(src="assets/images/content/sevilia-logo.png", alt="")
                            .forecast-table-teams__names
                                span
                                    |Валенсия
                                span
                                    |Севилья
                    .forecast-table__item-col
                        span.forecast-table-cat
                            |Лига Чемпионов
                    .forecast-table__item-col
                        .forecast-table-button
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П1
                                span
                                    |2.40
                            .forecast-table-button__item
                                span
                                    |1.30
                            .forecast-table-button__item
                                span.forecast-table-button__item-left
                                    |П2
                                span
                                    |1.50