extends ../layout/base

append config
	- var pageTitle = 'Страница новости / статьи';

block content
	.wrapper
		include ../layout/header
		include ../layout/breadcrumbs/article
		main.main-content
			.container
				.row
					.col-sm-12.col-xl-4
						include ../layout/sidebar/news
					.col-sm-12.col-xl-8
						include ../layout/main/article
						include ../layout/main/comments
						include ../layout/main/similar-news
		include ../layout/footer