extends ../layout/base

append config
    - var pageTitle = 'Бонусы букмекера';

block content
    .wrapper
        include ../layout/header
        include ../layout/breadcrumbs/bookmaker
        main.main-content
            .container
                .row
                    .col-sm-12.col-xl-4
                        include ../layout/sidebar/bookmaker
                    .col-sm-12.col-xl-8
                        include ../layout/main/bookmaker
        include ../layout/footer