extends ../layout/base

append config
	- var pageTitle = 'Ставки на футбол';

block content
	.wrapper
		include ../layout/header
		include ../layout/breadcrumbs/football-betting
		main.main-content
			.container
				.row
					.col-12
						.header-text
							h1 Ставки на футбол
							.header-text__content
								p Современные букмекерские конторы предлагают большой выбор спортивных мероприятий. Обычно, на большинстве легальных БК доступно более 20 видов спорта. Помимо популярных видов спорта игроки начали делать ставки на теннис. Последнее время теннис набирает популярность, так как это достаточно зрелищный и интересный вид спорта.
								p Ставки на теннис онлайн можно сделать на всех популярных отечественных букмекерских конторах. Каждая БК предлагает свои условия заключения пари и свои игровые коэффициенты. Поэтому к выбору подходящего букмекера стоит подходить внимательно. Различные теннисные турниры проводятся очень часто на каждом континенте, поэтому всегда доступно множество игр.
				.row
					.col-sm-12.col-xl-4
						include ../layout/sidebar/football-betting
					.col-sm-12.col-xl-8
						include ../layout/main/bookmaker-rating-more
						+bookmaker-rating("Проверенные и надежные букмекерские конторы для ставок на футбол")
						include ../layout/main/upcoming-forecast
						+upcoming-forecast('Предстоящие футбольные события', false, false)
						include ../layout/main/last-forecasts
						+last-forecast("Последние футбольные прогнозы")
						include ../layout/main/bonus-banner
						include ../layout/text/football-betting
		include ../layout/footer