extends ../layout/base

append config
	- var pageTitle = 'Страница прогноза';

block content
	.wrapper
		include ../layout/header
		include ../layout/breadcrumbs/forecast-det
		main.main-content
			.container
				.row
					.col-sm-12.col-xl-4
						include ../layout/sidebar/forecast-det
					.col-sm-12.col-xl-8
						include ../layout/main/forecast-det
						include ../layout/main/last-forecasts
						+last-forecast("Последние футбольные прогнозы")
		include ../layout/footer