extends ../layout/base

append config
    - var pageTitle = 'Главная';

block content
    .wrapper
        include ../layout/header
        main.main-content
            .container
                .row
                    .col-sm-12.col-xl-4
                        include ../layout/sidebar/home
                    .col-sm-12.col-xl-8
                        include ../layout/main/bookmaker-rating
                        include ../layout/main/upcoming-forecast
                        +upcoming-forecast('Ближайшие прогнозы', true)
                        include ../layout/main/bookmaker-bonus
                        include ../layout/main/last-news
                        include ../layout/text/home
        include ../layout/footer