doctype html
html
    head
        meta(charset='utf-8')
        title Карта проекта
        meta(name='author' content='grishko.dev')
        meta(name='viewport' content='width=device-width, user-scalable=no')
        style.
            html{
                height: 100%;
            }
            body{
                background: #f1f1f1;
                padding: 0px;
                margin: 0px;
                font-family: arial;
                height: 100%;
            }
            ul{
                list-style: none;
                padding: 0px;
                margin: 0px;
            }
            li{
                padding: 0px;
            }
            .block__link{
                display: inline-block;
                margin: 5px 15px 10px 20px;
                padding: 5px 10px;
                background: #eaeaea;
                border-radius: 7px;
                color: #1e88dc;
                font-size: 16px;
                text-decoration: none;
                transition: 0.2s ease-in-out;
            }
            .block__link:hover{
                background: #1e88dc;
                color: #fff;
            }
            .wrapper{
                width: 100%;
                min-height: 100%;
                position: relative;
            }
            .block{
                padding: 40px 40px 80px 40px;
            }
            .block__title{
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                margin-left: 20px;
                margin-bottom: 20px;
                color: #565656;
            }
            .block__date{
                display: inline-block;
                font-size: 12px;
                color: #b7b7b7;
                font-style: italic;
            }
            .block__source-link{
                display: inline-block;
                margin: 45px 5px 20px 20px;
                padding: 5px 10px;
                background: #f9f9f9;
                border-radius: 7px;
                color: #848484;
                font-size: 12px;
                text-decoration: none;
                transition: 0.2s ease-in-out;
            }
            .block__source-link:hover{
                background: #e4e4e4;
            }
    body
        .wrapper
            .block
                .block__title Карта проекта:
                ul
                    li
                        a(class='block__link' href='home.html') Главная
                    li
                        a(class='block__link' href='sport-betting.html') Ставки на спорт
                    li
                        a(class='block__link' href='football-betting.html') Ставки на футбол
                    li
                        a(class='block__link' href='sport-forecasts.html') Прогнозы на спорт
                    li
                        a(class='block__link' href='bookmaker.html') Бонусы букмекера
                    li
                        a(class='block__link' href='forecast.html') Страница прогноза
                    li
                        a(class='block__link' href='news.html') Новости / статьи
                    li
                        a(class='block__link' href='article.html') Страница новости / статьи
                    li
                        a(class='block__link' href='terms.html') Расшифровка ставок / Термины
                    li
                        a(class='block__link' href='term.html') Страница расшифровки или термина
