extends ../layout/base

append config
	- var pageTitle = 'Новости / Статьи';

block content
	.wrapper
		include ../layout/header
		include ../layout/breadcrumbs/news
		main.main-content
			.container
				.row
					.col-12
						.header-text.header-text--no-margin
							h1 Aboutbetting.ru - ставки на спорт, актуальные новости
				.row
					.col-sm-12.col-xl-4
						include ../layout/sidebar/news
					.col-sm-12.col-xl-8
						include ../layout/main/news-list
						include ../layout/main/pagination
		include ../layout/footer