extends ../layout/base

append config
	- var pageTitle = 'Ставки на спорт';

block content
	.wrapper
		include ../layout/header
		include ../layout/breadcrumbs/betting
		main.main-content
			.container
				.row
					.col-12
						.header-text
							h1 Ставки на спорт
							.header-text__content
								p Благодаря наличию официальных сайтов у популярных БК делать ставки на футбол стало гораздо легче. Теперь нет необходимости ехать в другой конец города, интернет ставки на футбол можно делать прямо дома со своего компьютера или мобильного устройства (планшет/смартфон).
								p Особой популярностью сейчас стали пользоваться ставки в букмекерских конторах на футбол. Это один из самых распространенных и просматриваемых видов спорта. Соответственно и игровые коэффициенты на данные спортивные события значительно выше по сравнению с остальными видами спорта.
				.row
					.col-sm-12.col-xl-4
						include ../layout/sidebar/betting
					.col-sm-12.col-xl-8
						include ../layout/main/bookmaker-rating-more
						+bookmaker-rating("Популярные и надежные букмекерские конторы")
						include ../layout/text/sport-betting
						include ../layout/main/last-forecasts
						+last-forecast("Последние прогнозы")
						include ../layout/main/last-news-2
		include ../layout/footer