extends ../layout/base

append config
	- var pageTitle = 'Прогнозы на спорт';

block content
	.wrapper
		include ../layout/header
		include ../layout/breadcrumbs/sport-forecasts
		main.main-content
			.container
				.row
					.col-12
						.header-text
							h1 Прогнозы на спорт
							.header-text__content
								p Верно составленный прогноз обеспечит беттору существенный шанс на победу пари. Если пользователь не является профессионалом, то мнение специалистов ему необходимо. В противном случае ставка не выиграет, а потерянную сумму придется отыграть.
								p Для того, чтобы не тратить время, собственные нервы и силы, нужно тщательно обдумывать каждое пари. Облегчить эту задачу поможет наш сервис. Здесь бесплатно публикуются предварительные результаты на все интересующие матчи, следить за которыми можно в режиме онлайн.
				.row
					.col-sm-12.col-xl-4
						include ../layout/sidebar/sport-forecasts
					.col-sm-12.col-xl-8
						include ../layout/main/forecasts-list
						include ../layout/main/bookmaker-rating-more
						+bookmaker-rating("Популярные и надежные букмекерские конторы", true)
						include ../layout/text/sport-forecasts
		include ../layout/footer