extends ../layout/base

append config
	- var pageTitle = 'Расшифровка ставок / Термины';

block content
	.wrapper
		include ../layout/header
		include ../layout/breadcrumbs/terms
		main.main-content
			.container
				.row
					.col-12
						.header-text.header-text--no-margin
							h1 Расшифровка ставок
				.row
					.col-sm-12.col-xl-4
						include ../layout/sidebar/terms
					.col-sm-12.col-xl-8
						include ../layout/main/terms-list
		include ../layout/footer