extends ../layout/base

append config
	- var pageTitle = 'Страница расшифровки или термина';

block content
	.wrapper
		include ../layout/header
		include ../layout/breadcrumbs/terms
		main.main-content
			.container
				.row
					.col-sm-12.col-xl-4
						include ../layout/sidebar/terms
					.col-sm-12.col-xl-8
						include ../layout/main/term
						include ../layout/main/similar-terms
		include ../layout/footer
