.sidebar-item
    .sidebar-item__title
        span
            |Школа ставок
        a.more(href="#")
            |Еще
    .sidebar-item__content
        .sidebar-academy
            a.sidebar-academy__title(href="#")
                |Стратегия «Танковой атаки» в сфере спортивного беттинга
            .sidebar-academy__det
                span.comments
                    |11
                span.date
                    |17.04.2020
        .sidebar-academy
            a.sidebar-academy__title(href="#")
                |Ставки на фору – дополнительный шанс на победу
            .sidebar-academy__det
                span.comments
                    |14
                span.date
                    |16.04.2020
        .sidebar-academy
            a.sidebar-academy__title(href="#")
                |Экспресс-ставки на спорт — что это, особенности и как ее сделать?
            .sidebar-academy__det
                span.comments
                    |15
                span.date
                    |15.04.2020