.sidebar-item
    .sidebar-item__title
        span
            |Рейтинг букмекеров
        a.more(href="#")
            |Все
    .sidebar-item__content
        .sidebar-bookmaker-list
            .sidebar-bookmaker
                .sidebar-bookmaker__row
                    img(src="assets/images/content/1xbet-big-logo.png", alt="")
                    a.btn.btn--blue(href="#") Получить
                .sidebar-bookmaker__row
                    .rating-stars.rating-stars--5
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                    span.bookmaker-gift
                        |4000 ₽
            .sidebar-bookmaker
                .sidebar-bookmaker__row
                    img(src="assets/images/content/leon-logo.png", alt="")
                    a.btn.btn--blue(href="#") Получить
                .sidebar-bookmaker__row
                    .rating-stars.rating-stars--4
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                    span.bookmaker-gift
                        |5000 ₽
            .sidebar-bookmaker
                .sidebar-bookmaker__row
                    img(src="assets/images/content/pari-logo.png", alt="")
                    a.btn.btn--blue(href="#") Получить
                .sidebar-bookmaker__row
                    .rating-stars.rating-stars--5
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                    span.bookmaker-gift
                        |Кэшбэк
            .sidebar-bookmaker
                .sidebar-bookmaker__row
                    img(src="assets/images/content/betcity-logo.png", alt="")
                    a.btn.btn--blue(href="#") Получить
                .sidebar-bookmaker__row
                    .rating-stars.rating-stars--3
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                        span
                            +icon('star')
                    span.bookmaker-gift
                        |Кэшбэк