.sidebar-item
    .sidebar-item__title
        span
            |В центре внимания
    .sidebar-item__content.sidebar-item__content--no-p
        .day-match
            .day-match__img
                img(src="assets/images/content/day-match.jpg", alt="")
            .day-match__content
                .day-match__teams
                    .day-match__teams-item
                        img(src="assets/images/content/liverpol-logo.png", alt="")
                        strong
                            |Ливерпуль
                    .day-match__teams-vs
                    .day-match__teams-item
                        img(src="assets/images/content/vest-logo.png", alt="")
                        strong
                            |Вест Хэм
                .day-match__info
                    .day-match__left
                        .day-match__left-content
                            a.subcat(href="#") Премьер Лига
                            a.cat(href="#") Футбол
                    .day-match__right
                        .day-match__right-content
                            span
                                |Начало матча
                            strong
                                |12 Марта 21:45
                    .day-match__buttons
                        a.btn.btn--white-border(href="#")
                            |Подробнее
                        a.btn.btn--blue(href="#")
                            |Сделать ставку
