.sidebar-item
    .sidebar-item__title
        span
            |Категории новостей
    .sidebar-item__content
        ul.sidebar-sport-cats
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-1')
                    .sidebar-sport-cats__title
                        a(href="#") Футбол
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-2')
                    .sidebar-sport-cats__title
                        a(href="#") Хоккей
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-3')
                    .sidebar-sport-cats__title
                        a(href="#") Теннис
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-4')
                    .sidebar-sport-cats__title
                        a(href="#") Баскетбол
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-5')
                    .sidebar-sport-cats__title
                        a(href="#") Киберспорт
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-6')
                    .sidebar-sport-cats__title
                        a(href="#") Волейбол
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-7')
                    .sidebar-sport-cats__title
                        a(href="#") Настольный теннис
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-8')
                    .sidebar-sport-cats__title
                        a(href="#") Бокс
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-9')
                    .sidebar-sport-cats__title
                        a(href="#") Политика
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-10')
                    .sidebar-sport-cats__title
                        a(href="#") Скачки
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-11')
                    .sidebar-sport-cats__title
                        a(href="#") Бейсбол
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-12')
                    .sidebar-sport-cats__title
                        a(href="#") Велоспорт

