.sidebar-item
    .sidebar-item__title
        span
            |Рекомендуем рейтинги
    .sidebar-item__content
        ul.sidebar-rating-cats
            li
                a(href="#")
                    span.cat-icon
                        +icon('rating-cat-1')
                    span.cat-title
                        |БК с высокими коэффициентами
            li
                a(href="#")
                    span.cat-icon
                        +icon('rating-cat-2')
                    span.cat-title
                        |Рейтинг легальных БК России
            li
                a(href="#")
                    span.cat-icon
                        +icon('rating-cat-3')
                    span.cat-title
                        |Букмекерские конторы для лайв ставок
            li
                a(href="#")
                    span.cat-icon
                        +icon('rating-cat-4')
                    span.cat-title
                        |Букмекерские конторы для вилок
            li
                a(href="#")
                    span.cat-icon
                        +icon('rating-cat-5')
                    span.cat-title
                        |Актуальные ссылки букмекерских контор
            li
                a(href="#")
                    span.cat-icon
                        +icon('rating-cat-6')
                    span.cat-title
                        |Рейтинг оффшорных букмекерских контор
            li
                a(href="#")
                    span.cat-icon
                        +icon('rating-cat-7')
                    span.cat-title
                        |БК с мобильной версией сайта
            li
                a(href="#")
                    span.cat-icon
                        +icon('rating-cat-8')
                    span.cat-title
                        |Букмекеры с бонусами