.sidebar-item
    .sidebar-item__title
        span
            |Спортивные статьи
        a.more(href="#")
            |Еще
    .sidebar-item__content
        a.sidebar-publ(href="#")
            .sidebar-publ__img
                img(src="assets/images/content/publ-small-1.jpg" alt="")
            .sidebar-publ__title
                |Ювентус снова хочет переманить Зинедина Зидана
        a.sidebar-publ(href="#")
            .sidebar-publ__img
                img(src="assets/images/content/publ-small-2.jpg" alt="")
            .sidebar-publ__title
                |Когда вернется спорт? Считаем дни до возобновления наших любимых соревнований