.sidebar-item.sidebar-item--cats
    .sidebar-item__title.sidebar-cats-title
        span
            |Виды спорта
        .cats-toggle
    .sidebar-item__content
        ul.sidebar-sport-cats
            li.sidebar-sport-cats__item.is-active
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-1')
                    .sidebar-sport-cats__title
                        a(href="#") Футбол
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li.is-active
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-2')
                    .sidebar-sport-cats__title
                        a(href="#") Хоккей
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
                    li
                        a(href="#") Второй дивизион
                    li
                        a(href="#") Третий дивизион
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-3')
                    .sidebar-sport-cats__title
                        a(href="#") Теннис
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
                    li
                        a(href="#") Второй дивизион
                    li
                        a(href="#") Третий дивизион
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-4')
                    .sidebar-sport-cats__title
                        a(href="#") Баскетбол
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
                    li
                        a(href="#") Второй дивизион
                    li
                        a(href="#") Третий дивизион
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-5')
                    .sidebar-sport-cats__title
                        a(href="#") Киберспорт
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
                    li
                        a(href="#") Второй дивизион
                    li
                        a(href="#") Третий дивизион
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-6')
                    .sidebar-sport-cats__title
                        a(href="#") Волейбол
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
                    li
                        a(href="#") Второй дивизион
                    li
                        a(href="#") Третий дивизион
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-7')
                    .sidebar-sport-cats__title
                        a(href="#") Настольный теннис
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
                    li
                        a(href="#") Второй дивизион
                    li
                        a(href="#") Третий дивизион
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-8')
                    .sidebar-sport-cats__title
                        a(href="#") Бокс
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
                    li
                        a(href="#") Второй дивизион
                    li
                        a(href="#") Третий дивизион
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-9')
                    .sidebar-sport-cats__title
                        a(href="#") Политика
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
                    li
                        a(href="#") Второй дивизион
                    li
                        a(href="#") Третий дивизион
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-10')
                    .sidebar-sport-cats__title
                        a(href="#") Скачки
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
                    li
                        a(href="#") Второй дивизион
                    li
                        a(href="#") Третий дивизион
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-11')
                    .sidebar-sport-cats__title
                        a(href="#") Бейсбол
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
                    li
                        a(href="#") Второй дивизион
                    li
                        a(href="#") Третий дивизион
            li.sidebar-sport-cats__item
                .sidebar-sport-cats__line
                    .sidebar-sport-cats__icon
                        +icon('sport-cat-12')
                    .sidebar-sport-cats__title
                        a(href="#") Велоспорт
                        .submenu-toggle
                ul.sidebar-sport-cats__submenu
                    li
                        a(href="#") Смотреть все
                    li
                        a(href="#") Премьер-лига
                    li
                        a(href="#") Первый дивизион
                    li
                        a(href="#") Второй дивизион
                    li
                        a(href="#") Третий дивизион
