$icons: (
	sprite: (width: 800px, height: 659px, svgPath: '../images/icons/sprite-bg.svg'),
    anchor: (width: 15px, height: 15px, backgroundX: -632px, backgroundY: -330px),
    answer: (width: 12px, height: 12px, backgroundX: -691px, backgroundY: -330px),
    close-search: (width: 20px, height: 20px, backgroundX: -332px, backgroundY: -330px),
    comments-small: (width: 17px, height: 17px, backgroundX: -446px, backgroundY: -330px),
    comments-white: (width: 17px, height: 17px, backgroundX: -473px, backgroundY: -330px),
    date-small: (width: 16px, height: 16px, backgroundX: -554px, backgroundY: -330px),
    date-white: (width: 16px, height: 16px, backgroundX: -580px, backgroundY: -330px),
    email: (width: 17px, height: 17px, backgroundX: -500px, backgroundY: -330px),
    field: (width: 790px, height: 320px, backgroundX: 0px, backgroundY: 0px),
    field-center: (width: 178px, height: 319px, backgroundX: 0px, backgroundY: -330px),
    gift: (width: 16px, height: 16px, backgroundX: -606px, backgroundY: -330px),
    gray-small-arrow: (width: 7px, height: 12px, backgroundX: -713px, backgroundY: -330px),
    loss: (width: 38px, height: 38px, backgroundX: -188px, backgroundY: -330px),
    mobile-arrow: (width: 7px, height: 13px, backgroundX: -657px, backgroundY: -330px),
    mobile-blue-arrow: (width: 7px, height: 13px, backgroundX: -674px, backgroundY: -330px),
    phone: (width: 17px, height: 17px, backgroundX: -527px, backgroundY: -330px),
    return: (width: 38px, height: 38px, backgroundX: -236px, backgroundY: -330px),
    search: (width: 20px, height: 20px, backgroundX: -362px, backgroundY: -330px),
    share: (width: 16px, height: 18px, backgroundX: -392px, backgroundY: -330px),
    small-arrow-right: (width: 11px, height: 11px, backgroundX: -747px, backgroundY: -330px),
    small-white-arrow: (width: 7px, height: 12px, backgroundX: -730px, backgroundY: -330px),
    time-clock: (width: 18px, height: 18px, backgroundX: -418px, backgroundY: -330px),
    win: (width: 38px, height: 38px, backgroundX: -284px, backgroundY: -330px),
);