.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-facebook {
	width: 14px;
	height: 24px;
}
.icon-instagram {
	width: 25px;
	height: 24px;
}
.icon-rating-cat-1 {
	width: 20px;
	height: 20px;
}
.icon-rating-cat-2 {
	width: 15px;
	height: 19px;
}
.icon-rating-cat-3 {
	width: 18px;
	height: 14px;
}
.icon-rating-cat-4 {
	width: 25px;
	height: 25px;
}
.icon-rating-cat-5 {
	width: 17px;
	height: 17px;
}
.icon-rating-cat-6 {
	width: 18px;
	height: 18px;
}
.icon-rating-cat-7 {
	width: 12px;
	height: 19px;
}
.icon-rating-cat-8 {
	width: 20px;
	height: 17px;
}
.icon-slider-arrow {
	width: 14px;
	height: 14px;
}
.icon-sport-cat-1 {
	width: 20px;
	height: 20px;
}
.icon-sport-cat-10 {
	width: 20px;
	height: 20px;
}
.icon-sport-cat-11 {
	width: 22px;
	height: 18px;
}
.icon-sport-cat-12 {
	width: 23px;
	height: 15px;
}
.icon-sport-cat-2 {
	width: 22px;
	height: 22px;
}
.icon-sport-cat-3 {
	width: 24px;
	height: 24px;
}
.icon-sport-cat-4 {
	width: 20px;
	height: 20px;
}
.icon-sport-cat-5 {
	width: 25px;
	height: 15px;
}
.icon-sport-cat-6 {
	width: 20px;
	height: 20px;
}
.icon-sport-cat-7 {
	width: 22px;
	height: 22px;
}
.icon-sport-cat-8 {
	width: 24px;
	height: 20px;
}
.icon-sport-cat-9 {
	width: 16px;
	height: 22px;
}
.icon-star {
	width: 16px;
	height: 16px;
}
.icon-time-clock {
	width: 18px;
	height: 18px;
}
.icon-vk {
	width: 27px;
	height: 16px;
}
.icon-win {
	width: 38px;
	height: 38px;
}
