.article
    &--margin
        margin-bottom: 40px
    &__title
        h1, h2
            margin: 0 0 20px
            font-size: rem(22px)
            font-weight: 500
    &__block
        width: 100%
        background: $color-white
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04)
        border-radius: 3px
        overflow: hidden
    &__image
        position: relative
        height: 360px
        &:after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: 10
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 56.25%, rgba(0, 0, 0, 0.85) 100%)
        img
            position: relative
            z-index: 5
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center center
    &__det
        position: absolute
        z-index: 20
        left: 0
        bottom: 0px
        width: 100%
        display: flex
        justify-content: space-between
        padding: 25px 30px
        &-left
            display: flex
            flex-flow: row wrap
            align-items: center
        &-right
            .share-panel
                position: absolute
                bottom: 18px
                right: 10px
                visibility: hidden
                opacity: 0
                transition: all 0.3s ease-in-out
        span
            display: flex
            align-items: center
            font-size: rem(13px)
            color: $color-white
            &.comments
                &:before
                    content: ''
                    margin-right: 7px
                    +sprite('comments-white')
            &.date
                margin-right: 30px
                &:before
                    content: ''
                    margin-right: 8px
                    +sprite('date-white')
            &.share
                font-size: rem(13px)
                color: $color-white
                cursor: pointer
                transition: opacity 0.2s ease-in-out
                &:before
                    content: ''
                    margin-right: 8px
                    +sprite('share')
                &:hover
                    opacity: 0.7
                &.is-hidden
                    visibility: hidden
                    opacity: 0
                    & + .share-panel
                        right: 25px
                        visibility: visible
                        opacity: 1
    &__content
        padding: 25px 30px
    &__bet
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        padding: 20px 30px
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06)
        &-left
            display: flex
            flex-flow: row wrap
            align-items: center
            width: calc(100% - 180px)
            .bet-num
                display: flex
                justify-content: center
                align-items: center
                width: 55px
                height: 55px
                border-radius: 50%
                border: 1px solid $color-primary
                font-size: rem(16px)
                color: $color-primary
                font-weight: 500
            .bet-text
                width: calc(100% - 55px)
                padding-left: 20px
                h4
                    display: block
                    margin: 0 0 10px 0
                    font-size: 14px
                    font-weight: 500
                    color: $color-primary
                span
                    font-size: 14px
                    line-height: 18px
                    color: $color-gunPowder
