.breadcrumbs
    padding: 30px 0
    background: $color-charade

.breadcrumbs-list
    display: flex
    flex-flow: row wrap
    li
        position: relative
        padding-right: 45px
        font-size: rem(14px)
        &:before
            content: ''
            +sprite('small-white-arrow')
            position: absolute
            top: 3px
            right: 18px
        &:last-child
            padding-right: 0
            &:before
                display: none
        a
            color: $color-white
        span
            color: $color-white
            opacity: 0.8
