.btn
    display: inline-block
    height: 35px
    padding: 0 16px
    line-height: 35px
    font-size: rem(12px)
    font-weight: 500
    text-transform: uppercase
    border-radius: 3px
    border: 0
    cursor: pointer
    transition: background 0.1s ease-in-out
    &--yellow
        background: $color-secondary
        color: $color-gunPowder
        &:hover
            background: $color-secondary-light
    &--blue
        background: $color-primary
        color: $color-white
        &:hover
            background: $color-primary-light
    &--blue-border
        border: 1px solid $color-primary
        color: $color-primary
        line-height: 33px
        &:hover
            border-color: $color-s0teelGray
            color: $color-s0teelGray
    &--white-border
        border: 1px solid $color-white
        color: $color-white
        line-height: 33px
    &--border
        background: transparent
        border: 1px solid $color-waterloo

.to-answer
    position: relative
    border: 0
    background: transparent
    margin: 0
    padding: 0 0 0 25px
    color: $color-primary
    font-size: 13px
    cursor: pointer
    outline: none
    transition: opacity 0.2s ease-in-out
    &:before
        content: ''
        position: absolute
        top: 1px
        left: 0
        +sprite('answer')
    &:hover
        opacity: 0.7
