.comments-list
    margin-top: 25px
    &__header
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        align-items: center
        h4
            position: relative
            margin: 0
            padding-left: 28px
            font-size: rem(18px)
            color: $color-waterloo
            font-weight: 500
            &:before
                content: ''
                position: absolute
                top: 1px
                left: 0
                +sprite('comments-small')
    &__body
        margin-top: 25px

.comments-item
    display: flex
    flex-flow: row wrap
    margin-bottom: 20px
    &__photo
        width: 70px
        height: 70px
        margin-right: 30px
        border-radius: 50%
        overflow: hidden
        img
            object-fit: cover
            object-position: center center
    &__content
        width: calc(100% - 100px)
        padding: 5px 0 0
        strong
            font-weight: 500
            font-size: rem(16px)
            color: $color-gunPowder
        span
            margin-left: 15px
            color: $color-waterloo
            font-size: rem(13px)
        &-text
            padding-top: 15px
            font-size: rem(14px)
            color: $color-gunPowder
            line-height: rem(19px)
        &-write
            padding-top: 15px
        &-answers
            margin-top: 20px
            .comments-item
                &:last-child
                    margin-bottom: 10px

.comments-form
    margin: 40px 0 50px
    &__body
        display: flex
        flex-flow: row nowrap
    &__input
        width: calc(100% - 190px)
    &__button
        display: flex
        justify-content: flex-end
        width: 190px
