.input-textarea
    display: block
    width: 100%
    min-height: 70px
    min-width: 100%
    max-width: 100%
    max-height: 400px
    background: $color-white
    padding: 15px
    color: $color-gunPowder
    font-size: rem(14px)
    line-height: rem(20px)
    border-radius: 3px
    border: 0px