.hamburger
    display: none
    cursor: pointer
    transition-property: opacity, filter
    transition-duration: 0.15s
    transition-timing-function: linear
    font: inherit
    color: inherit
    text-transform: none
    background-color: transparent
    border: 0
    margin: 0
    margin-left: 30px
    overflow: visible
    line-height: 0
    outline: none
    &.is-active
        .hamburger-inner
            transform: translate3d(0, 10px, 0) rotate(45deg)
            &:before
                transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0)
                opacity: 0
            &:after
                transform: translate3d(0, -20px, 0) rotate(-90deg)

.hamburger-box
    width: 35px
    height: 24px
    display: inline-block
    position: relative

.hamburger-inner
    display: block
    top: 50%
    top: 2px
    &:before, &:after
        content: ''
        display: block
    &:before
        top: 10px;
        transition-property: transform, opacity
        transition-timing-function: ease
        transition-duration: 0.15s
    &:after
        top: 20px

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
    width: 35px
    height: 2px
    background-color: $color-primary
    position: absolute
    transition-property: transform
    transition-duration: 0.15s
    transition-timing-function: ease