.main-menu
    display: flex
    height: 100%
    z-index: 80
    & > li
        position: relative
        height: inherit
        margin-left: 45px
        &:first-child
            margin-left: 0
        &.is-active, &.current, &.is-current
            & > a
                color: $color-primary
                border-color: $color-primary
        & > a
            display: flex
            align-items: center
            height: inherit
            color: $color-gunPowder
            font-size: rem(16px)
            font-weight: 500
            border-top: 3px solid $color-white
            &:hover
                color: $color-primary
        &:hover
            & > ul
                visibility: visible
                opacity: 1
        & > ul
            position: absolute
            top: 80px
            left: -25px
            width: auto
            display: block
            max-width: 400px
            background: $color-white
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1)
            visibility: hidden
            opacity: 0
            & > li
                display: block
                border-bottom: 1px solid #E4E4EC
                a
                    display: block
                    padding: 13px 30px 13px 25px
                    color: $color-gunPowder
                    font-size: 15px
                    font-weight: 500
                    white-space: nowrap
                    text-overflow: ellipsis
                    overflow: hidden
                    &:hover
                        color: $color-primary
                    
.mobile-open-sub
    position: absolute
    top: 7px
    right: 20px
    display: none
    flex-flow: row wrap
    justify-content: center
    align-items: center
    width: 33px
    height: 33px
    background: #EAECF2
    border-radius: 50%
    z-index: 90
    cursor: pointer
    transition: all 0.3s ease-in-out
    &:before
        content: ''
        position: relative
        +sprite('mobile-arrow')
        transition: all 0.3s ease-in-out