.rating-stars
    span
        svg
            fill: #D9D9E2
    &--1
        span
            &:nth-child(1)
                svg
                    fill: $color-secondary
    &--2
        span
            &:nth-child(1), &:nth-child(2)
                svg
                    fill: $color-secondary
    &--3
        span
            &:nth-child(1), &:nth-child(2), &:nth-child(3)
                svg
                    fill: $color-secondary
    &--4
        span
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
                svg
                    fill: $color-secondary
    &--5
        span
            svg
                fill: $color-secondary