.search
    $this: &;
    display: flex
    height: 100%
    align-items: center
    margin-left: 60px
    z-index: 90
    &.is-active
        #{$this}__button
            &:before
                +sprite('close-search')
        #{$this}__input
            left: 0
            visibility: visible
            opacity: 1
    &__input
        position: absolute
        top: 0
        left: 50px
        display: flex
        align-items: center
        width: calc(100% - 60px)
        height: 100%
        background: $color-white
        font-family: $font-gotham
        font-size: 15px
        color: $color-gunPowder
        visibility: hidden
        opacity: 0
        user-select: none
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, left 0.3s ease-in-out
        input
            display: flex
            width: 100%
            height: 100%
            border: 0
        button
            display: flex
            align-items: center
            height: 30px
            padding: 0 15px
            color: $color-primary
            font-size: 12px
            font-weight: 500
            text-transform: uppercase
            background: transparent
            border: 1px solid $color-primary
            border-radius: 3px
            cursor: pointer
            outline: none
            &:hover
                color: $color-black
                border-color: $color-black
    &__button
        display: flex
        align-items: center
        padding: 10px 0 11px 10px
        cursor: pointer
        &:before
            content: ''
            +sprite('search')
        &:hover
            opacity: 0.8