.terms-list-item
    margin-bottom: 20px
    &__title
        display: inline-block
        padding: 10px 15px
        background: $color-mischkaDark
        color: $color-gunPowder
        font-size: rem(18px)
        font-weight: 500
        border-top-left-radius: 3px
        border-top-right-radius: 3px
    &__table
        border: 1px solid $color-mischkaDark
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px        
        table
            width: 100%
            tr
                td
                    padding: 10px 15px
                    a
                        color: $color-primary
                        font-size: rem(15px)
                        &:hover
                            color: $color-gunPowder

.term-detailed
    margin-bottom: 40px
    &__image
        position: relative
        img
            width: 100%
        h1, h2
            position: absolute
            left: 60px
            bottom: 67px
            margin: 0
            font-size: rem(24px)
            color: $color-white
            font-weight: 500
            max-width: 400px
    &__text
        padding: 25px 30px

.term-result
    position: relative
    padding-left: 60px
    margin: 20px 0
    &--win
        &:before
            content: ''
            +sprite('win')
            position: absolute
            top: -3px
            left: 0
    &--loss
        &:before
            content: ''
            +sprite('loss')
            position: absolute
            top: -3px
            left: 0
    &--return
        &:before
            content: ''
            +sprite('return')
            position: absolute
            top: -3px
            left: 0
    &__title
        font-size: rem(15px)
        color: $color-gunPowder
        font-weight: 500
        margin-bottom: 10px
    &__text
        color: $color-gunPowder
        font-size: rem(14px)
        line-height: rem(20px)

.similar-term
    width: calc(50% - 15px)
    padding: 30px
    background: $color-white
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04)
    border-radius: 3px
    &__title
        a
            font-size: rem(16px)
            font-weight: 500
            color: $color-primary
            &:hover
                color: $color-gunPowder
    &__text
        font-size: rem(14px)
        line-height: rem(19px)
        margin: 15px 0 25px
