.voting
    $this: &;
    &__header
        display: flex
        justify-content: space-between
        width: 100%
        margin-bottom: 10px
        strong
            font-size: rem(18px)
            color: $color-gunPowder
            font-weight: 500
        span
            font-size: 13px
            color: $color-waterloo
    &__item
        display: flex
        flex-flow: row wrap
        align-items: center
        &-percent
            width: 70px
            font-size: rem(18px)
            font-weight: 500
            color: $color-gunPowder
        &-scale
            width: calc(100% - 160px)
            margin-top: 20px
        &-button
            display: flex
            justify-content: flex-end
            width: 90px
            .btn
                width: 53px
                text-align: center
                padding: 0
        &--yes
            #{$this}__item-percent
                color: $color-mantis
            #{$this}__item-scale
                .scale-line__inside
                    background: $color-mantis
            #{$this}__item-button
                .btn
                    border-color: $color-mantis
                    &:hover
                        color: $color-white
                        background: $color-mantis
        &--no
            #{$this}__item-percent
                color: $color-roman
            #{$this}__item-scale
                .scale-line__inside
                    background: $color-roman
            #{$this}__item-button
                .btn
                    border-color: $color-roman
                    &:hover
                        color: $color-white
                        background: $color-roman

.scale-line
    position: relative
    width: 100%
    height: 8px
    background: #EAECF2
    border-radius: 5px
    &__inside
        position: absolute
        top: 0
        left: 0
        height: 8px
        border-radius: 5px
        background: $color-gunPowder
.scale-text
    display: block
    margin-top: 2px
    font-size: 13px
    color: $color-waterloo