// svg sprite
$sprite: map-get($icons, sprite) !default
$mq-base-font-size: 16px !default
$sprite-padding: 5

@function decimal-round ($number, $digits: 0, $mode: round)
  $n: 1;
  @if type-of($number) != number
    @warn '#{ $number } is not a number.'
    @return $number
  @if type-of($digits) != number
    @warn '#{ $digits } is not a number.'
    @return $number
  @else if not unitless($digits)
    @warn '#{ $digits } has a unit.'
    @return $number

  @for $i from 1 through $digits
    $n: $n * 10

  @if $mode == round
    @return round($number * $n) / $n
  @else if $mode == ceil
    @return ceil($number * $n) / $n
  @else if $mode == floor
    @return floor($number * $n) / $n
  @else
    @warn '#{ $mode } is undefined keyword.'
    @return $number

@function decimal-ceil ($number, $digits: 0)
  @return decimal-round($number, $digits, ceil)

// PX to EM
@function mq-px2em($px, $base-font-size: $mq-base-font-size)
  @if unitless($px)
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels."
    @return mq-px2em($px * 1px, $base-font-size)
  @else if unit($px) == em
    @return $px
  @return ($px / $base-font-size) * 1em

%sprite
  display: inline-block
  background-image: url(map-get($sprite, svgPath))
  background-size: map-get($sprite, width) map-get($sprite, height)

@function sprite-attr($icon, $attr)
  $newIcon: map-get($icons, $icon)
  @if $newIcon == null
    @warn "Can't find an icon with the name #{$icon}"
  @return map-get($newIcon, $attr)

@function icon-attr($icon)
  $attr: (width: decimal-ceil(sprite-attr($icon, width), 1), height: decimal-ceil(sprite-attr($icon, height), 1), x: sprite-attr($icon, backgroundX) - $sprite-padding, y: sprite-attr($icon, backgroundY) - $sprite-padding)
  @return $attr

@mixin sprite($icon, $type: all)
  @if $type == all
    @extend %sprite

  $iconMap: icon-attr($icon)

  @if $type == all or $type == size
    width: map-get($iconMap, width)
    height: map-get($iconMap, height)

  @if $type == all or $type == bg
    background-position: map-get($iconMap, x)  map-get($iconMap, y)
